<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license

   Photo by <a href="https://unsplash.com/@johnschno?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">John Schnobrich</a> on <a href="https://unsplash.com/s/photos/library-computer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   Photo by <a href="https://unsplash.com/@yulokchan?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joseph Chan</a> on <a href="https://unsplash.com/s/photos/trust?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   Photo by <a href="https://unsplash.com/@kellysikkema?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kelly Sikkema</a> on <a href="https://unsplash.com/s/photos/hope?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codrops" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/introduce.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>

    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap"
          rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
          rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
          rel="stylesheet">

</head>
<style>
    /* body 기본 폰트 전체 적용 */

    body {
        font-family: 'Gowun Dodum', sans-serif;
    }

    #logo {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 100px;
    }

    #underLogo {
        font-family: 'Yeon Sung', cursive;
        font-size: 100px;
    }

    summary {
        cursor: pointer;
        list-style: none;
        outline: none;
        padding:15px;
        border: solid 1px;
        border-radius: 3px;
        border-color:#e8e8e8;
        margin-bottom: 3px;
        background-color: #f5f5f5;
    }

    #help{
        margin: 5% 19% 7% 16%
    }

    #help2{
        border-top: solid 11px;
        border-color: #f5f4f3;
        padding: 30px;
    }

    .pure-group{
        margin: 2% 2% 0 2%;
        text-align: left;
    }

    .qw{
        padding: inherit;
        margin: 1% 0 2% 0;
        width: 40%;
        margin-right: 60%;
        margin-left: 2%;
        position: inherit;
    }

    #message{
        resize: none; padding:inherit; width: 93%; margin: 1% 20% 3% 2%; positon:inherit;
    }

    #nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: right;
        padding: 1.5em 0 1.5em 0;
        z-index: 1;
        overflow: hidden;
    }

    /*개인 디자인 넣기*/
    div.divMainImg{
        margin-top: 6em;
        width: 100%;
        height: 25em;
        background-image: url(/images/introduceImg.jpg);
        background-size: 100% 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.no1{
        font-size: 25px;
        font-weight: 600;
        text-align: left;
        width: 30%;
        height: 150px;
        float: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    div.no1-1{
        font-size: 20px;
        text-align: left;
        width: 70%;
        height: 150px;
        float: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    div.sub{
        width: 30%;
    }
    div.mainDiv{
        display: flex;
        justify-content: space-between;
    }
</style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">


    <!--  Header -->
    <div id="header">
        <!-- Nav --> <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
        <nav id="nav">

            <!-- 기북천사 로고 -->
            <div>
                <a href="/main/mainPage"> <!-- 로고 클릭시 메인페이지로 이동 -->
                    <img id="logoImg" src="/images/kibookLogo.png"></a>
            </div>
            <ul>
                <!-- 검색 -->
                <form id="searchForm" style="width: 261px;float:left; padding: 0px;" action="/book/list" name="searchForm">
                    <div class="search" style="float: left; display:inline-block">
                        <input id="keyword" type="text" name="keyword" placeholder="검색어 입력" style="display:inline-block; border:0; float:left; z-index:0;">
                        <!--                        <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="javascript: if(event.keyCode == 13) {document.searchForm.submit();}">-->
                    </div>
                    <button onclick="javascript:void(0);" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                             4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2l
                             vbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm9
                             4PSIwIDAgMzAuMjM5IDMwLjIzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjYxMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDB
                             jLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgk
                             JYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtNi43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NCwzLjQ0NC05LjA0OSw
                             zLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiwyMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo
                             8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K" />
                    </button>
                </form>
                <!-- 회원정보 -->
                <li>
                    <a href="#">📖
                        <th:block th:if= "${memberNum} == null" th:text="비회원"/>
                        <input type="hidden" name="sub" th:value="${sub}">

                        <th:block th:if= "${memberNum} != null" th:text="${memberName}" />
                        <input type="hidden" name="sessionType" value="${sessionType}">

                    </a>
                    <ul>
                        <th:block th:if="${memberNum} == null">
                            <li id="loginTab"><a href="/member/login">로그인</a></li>
                            <li><a  href="/main/qna">Q&A</a></li>
                        </th:block>

                        <th:block th:if="${memberNum} != null">
                            <li id="myPageTab"><a>마이페이지&hellip;</a>
                                <ul>
                                    <li><a href="/member/mypage">내정보 보기</a></li>
                                    <li><a href="/member/memberModify">회원정보 수정</a></li>
                                    <li id="applyTab"><a href="/board/list">신청게시판</a></li><!-- 관리자 전용 -->
                                    <li><a  href="/member/withdraw">회원탈퇴</a></li>
                                </ul>
                            </li>
                            <li><a  href="/main/qna">Q&A</a></li>
                            <li id="logoutTab"><a  href="/member/logout">로그아웃</a></li>
                        </th:block>

                    </ul>
                </li>
            </ul>
        </nav>

    </div>
    <!--  Header  끝-->
    <div style="width: 70%; margin: 0 auto;height: 70em;">

        <div style="text-align: center;">
            <div class="divMainImg" style="position: relative;">
                <div style="position: relative; top: -5em;">
                    <h5 style="font-size: xx-large; color: cornsilk; margin-bottom: 5px;">독서와 기부를 한번에 만나보세요</h5>
                    <h5 style="font-size: x-large; color: cornsilk;">기북천사</h5>
                </div>
            </div>
        </div>

        <hr style="visibility: hidden">
        <br>
        <br>

        <div style="display: block">
            <div class="no1">
                <span style="margin-bottom: 5px;">No.1</span>
                <span>intimate  Reading Platform</span>
            </div>
            <div class="no1-1">
                <div><h1 style="margin-bottom: 5px;">기북천사는 독서와 기부를 하나로 묶어 제공하는 것으로 최고의 독서 & 기부 플랫폼으로의 진화를 꿈꿉니다.</h1></div>
                <div><h1>모든 사용자로부터 신뢰받는 독서의 관문으로서, 기북천사가 대한민국 독서플랫폼의 한획을 그려 나갑니다.</h1></div>
            </div>
        </div>

        <hr style="visibility: hidden">
        <br>
        <br>

        <div class="mainDiv">
            <div class="sub">
                <div style="font-weight: 600; font-size: 25px;">Technology</div>
                <div style="
                    background-image: url(/images/computer.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 190%;"></div>
                <div>기북천사만의 독서 플랫폼으로 사용자에게 더욱 편리한 독서의 방법을 제공합니다.</div>
            </div>
            <div class="sub">
                <div style="font-weight: 600; font-size: 25px;">Trust</div>
                <div style="
                    background-image: url(/images/trust.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 190%;"></div>
                <div>기북천사의 적극적인 활동은 고객과 더불어 모든 사용자에게 믿을 수 있는 독서 환경을 선사합니다.</div>
            </div>


            <div class="sub">
                <div style="font-weight: 600; font-size: 25px;">Hope</div>
                <div style="
                    background-image: url(/images/hope.jpg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 190%;"></div>
                <div>기북천사와 사용자가 함께하는 사회공헌 플랫폼으로 함께하는 더 나은 삶을 만듭니다.</div>
            </div>
        </div>
    </div>


    <hr>
    <!--  Copyright -->
    <div class="copyright" style="height: 10em">
        <p style="margin-bottom: 0.5em; font-weight: 600; font-size: 20px; margin-left: 0.5em;">기북천사</p>
        <p style="margin-bottom: 0.2em;margin-left: 0.5em;">대표자 : 한동석, 일사천리 &nbsp;&nbsp; 주소: 서울특별시 강남구 역삼동 736-7 3~4층</p>
        <label for="intro" style="margin-bottom: 0.2em;margin-left: 0.5em;"><a style="text-decoration: none" id="intro" href="/main/introduce">기북천사 소개</a></label>
        <p style="margin-bottom: 0.2em;margin-left: 0.5em;">&copy; Kibook Angel. All rights reserved.</p>
    </div>
</div>
</body>

<script th:inline="javascript">
    let sessionType = [[${sessionType}]];
    var applyTab = document.getElementById("applyTab");

    if(sessionType == 0){
        applyTab.style.display="none";
    } else if(sessionType == 1){
        applyTab.style.display="inline";
    }
</script>

<script language="javascript">
    function showPopup() {
        window.open("qnaMail", "sendmail", "width=500, height=650, left=300, top=50");
    }
</script>

<!--kkh 2021.11.03 새로 작성한 코드-->
<script th:inline="javascript">
    // 글 등록 시 전달받는 게시글 번호를 alert으로 출력
    let searchForm = $(document.searchForm);


    $("button.search").on("click", function(e){  /*$("a.search").on("click", function(e){*/
        e.preventDefault();


        if(!searchForm.find("input#keyword").val()){
            alert("키워드를 입력하세요");
            return;
        }
        searchForm.submit();
    });

    $("input#keyword").on("keydown", function(e){
        if(e.keyCode == 13){
            e.preventDefault();
            if(!searchForm.find("input#keyword").val()){
                alert("키워드를 입력하세요");
                return;
            }
            searchForm.submit();
        }
    })
</script>
<!--위 kkh 2021.11.03 새로 작성한 코드-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script	src="/js/jquery.min.js"></script>
<script	src="/js/jquery.dropotron.min.js"></script>
<script	src="/js/jquery.scrolly.min.js"></script>
<script	src="/js/jquery.scrollex.min.js"></script>
<script	src="/js/browser.min.js"></script>
<script	src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/toucheffects.js"></script>

</html>