<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bookangel.mappers.BookBasketMapper">

    <!--책가방에 이미 담겨있는지-->
    <select id="isExist" resultType="_long">
        SELECT COUNT(BOOKNUM) FROM BOOK_BASKET
        WHERE BOOKNUM = (SELECT BOOKNUM FROM BOOK WHERE BOOKIMAGESRC = #{imgSrc}) AND memberNum = #{memberNum}
    </select>

    <select id="isExistToBookNum" resultType="_long">
        SELECT COUNT(BOOKNUM) FROM BOOK_BASKET
        WHERE BOOKNUM = #{bookNum} AND memberNum = #{memberNum}
    </select>

    <!--책가방에 담기-->
    <insert id="addBookBasket">
        INSERT INTO BOOK_BASKET ( bookNum, memberNum)
      VALUES(
          (SELECT BOOKNUM FROM BOOK WHERE BOOKIMAGESRC = #{imgSrc}),
          #{memberNum}
          )
    </insert>

    <select id="myBasket" resultType="bookVO">
        SELECT B.BOOKNUM, B.BOOKNAME, B.BOOKIMAGESRC, B.BOOKAUTHOR, B.BOOKPUBLISHER, B.BOOKCONTENT FROM BOOK B JOIN BOOK_BASKET BB
        ON BB.MEMBERNUM = #{memberNum} AND BB.BOOKNUM = B.BOOKNUM
    </select>

    <select id="myBasketCNT" resultType="_long">
        SELECT COUNT(BOOKNUM) FROM BOOK_BASKET
        WHERE memberNum = #{memberNum}
    </select>


    <insert id="addBookBasketToBookNum">
        INSERT INTO BOOK_BASKET ( bookNum, memberNum)
		VALUES(#{bookNum},#{memberNum})
    </insert>
</mapper>