<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.bookangel.mappers.PaymentMapper">

    <!-- 쿠폰 결제, 카드결제-->
    <!-- 조건으로 쿼리문 새로 짜야함 -->
    <!--구독하기-->
    <insert id="subscribe">
        INSERT INTO BOOK_PAYMENT
        (PAYMENTNUM, MEMBERNUM, COUPONNUM, IMPUID, MERCHANTUID, SUBMONTH, SUBDATE, EXPIREDATE)
        <choose>
            <when test="subMonth == 2">/*1달 구독 첫 결제*/
                <choose>
                    <when test="couponNum == null or couponNum == ''">/*카드결제*/
                        VALUES(PAYMENT_SEQ.NEXTVAL, #{memberNum}, null, #{impUid}, #{merchantUid}, #{subMonth}, SYSDATE, SYSDATE+30)
                    </when>
                    <when test="couponNum > 0">/*쿠폰결제*/
                        VALUES(PAYMENT_SEQ.NEXTVAL, #{memberNum}, #{couponNum}, null, null, #{subMonth}, SYSDATE, SYSDATE+30)
                    </when>
                </choose>
            </when>

            <when test="subMonth == 13">/*1년 구독 첫결제*/
                VALUES(PAYMENT_SEQ.NEXTVAL, #{memberNum}, null, #{impUid}, #{merchantUid}, #{subMonth}, SYSDATE, SYSDATE+364)
            </when>
        </choose>

    </insert>
<!--
    VALUES(PAYMENT_SEQ.NEXTVAL, #{memberNum}, #{couponNum}, null, null, #{subMonth}, SYSDATE, SYSDATE+365)
-->
    <!-- 결제 이력이 있는지 -->
    <select id="paymentExist" resultType="_long">
        SELECT COUNT(memberNum) FROM BOOK_PAYMENT
        WHERE MEMBERNUM = #{memberNum}
    </select>

    <!-- 구독 하고 있는지-->
    <select id="subscribeExist" resultType="_long">
        SELECT COUNT(memberNum) FROM BOOK_PAYMENT
        WHERE MEMBERNUM = #{memberNum} and EXPIREDATE > SYSDATE
    </select>


    <!-- 첫 구독이 아닐때 -->
    <update id="resubscribe">
        UPDATE BOOK_PAYMENT
        <choose>
            <when test="subMonth == 1">
                <choose>
                    <when test="couponNum == null or couponNum == ''">
                        SET COUPONNUM = null, IMPUID=#{impUid}, MERCHANTUID=#{merchantUid}, SUBMONTH=#{subMonth}, SUBDATE=SYSDATE, EXPIREDATE=SYSDATE+30
                    </when>
                    <when test="couponNum > 0">
                        SET COUPONNUM = #{couponNum}, IMPUID=null, MERCHANTUID=null, SUBMONTH=#{subMonth}, SUBDATE=SYSDATE, EXPIREDATE=SYSDATE+30
                    </when>
                </choose>
            </when>

            <when test="subMonth == 12">
                SET COUPONNUM = null, IMPUID=#{impUid}, MERCHANTUID=#{merchantUid}, SUBMONTH=#{subMonth}, SUBDATE=SYSDATE, EXPIREDATE=SYSDATE+364
            </when>
        </choose>
        WHERE MEMBERNUM = #{memberNum}
    </update>

    <!--구독중인지 확인-->
    <select id="searchPayment" resultType="paymentVO">
        SELECT paymentNum, memberNum, couponNum, impUid, merchantUid, subMonth, subDate, expireDate
        FROM BOOK_PAYMENT
        WHERE MEMBERNUM = #{memberNum} and EXPIREDATE > SYSDATE
    </select>

    <!--구독 취소 submonth만 0으로 변경되고 나머지는 그대로 있기!-->
    <update id="subscribeCancel">
        UPDATE BOOK_PAYMENT
        SET SUBMONTH=0
        WHERE MEMBERNUM=#{memberNum}
    </update>


</mapper>