<!DOCTYPE html>
<html lang="en">
<head>
    <title>기북천사 | 소크라테스 익스프레스</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bookViewer2.css" />
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
<div class="cover">
    <div class="book">
        <label for="page-1"  class="book__page book__page--1">
            <img src="/bookImages/03express.jpg" style="height: 550px;" alt="">
        </label>

        <label for="page-2" class="book__page book__page--4">
            <div class="page__content">
                <h1 class="page__content-title" style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px;">새벽 <br> 마르쿠스 아우텔리우스처럼 침대에서 나오는 법</h1>
                <div class="page__content-blockquote">
                    <p class="page__content-blockquote-text" style="font-family: 'Gowun Dodum', sans-serif; font-size: 14px;">

                        오전 7:07. 노스다코타의 어디쯤.<br>
                        철도회사 암트랙의 엠파이어빌더 열차를 타고 시카고에서 오리건주 포틀랜드로 향하는 중.<br>

                        내가 타로 있는 객실 창문으로 아침 햇살이 비스듬히 쏟아져 내린다. 햇살이 나를 부드럽게 깨워주었다고 말하고 싶지만, 사실 나는 잠들어 있지 않았다. 머리를 통돌이 건조기에 넣고 바싹 말린 것 같은 기분이다. 은근한 통증이 관자놀이에서부터 온몸으로 퍼져나간다. 뇌에 짙고 유독한 안개가 끼어 있다. 내 몸은 쉬고 있는 몸이지, 잘 쉰 몸은 아니다.
                        잠에 관해 사람들은 두 부류로 나뉜다.
                    </p>
                    <!--   <p class="page__content-blockquote-text">. . . The best existing authority we have for the details of his life is the biography written by Gaal Dornick who, as a young man, met Seldon two years before the great mathematician's death. The story of the meeting . . .</p>
                            <span class="page__content-blockquote-reference">Encyclopedia Galactica*</span> -->
                </div>

                <div class="page__number">3</div>
            </div>
        </label>
        <!-- Resets the page -->
        <input type="radio" name="page" id="page-1"/>

        <!-- Goes to the second page -->
        <input type="radio" name="page" id="page-2"/>
        <label class="book__page book__page--2">
            <div class="book__page-front">
                <div class="page__content">
                    <h1 class="page__content-book-title" style="font-family: 'Gowun Dodum', sans-serif;">소크라테스 <br> 익스프레스</h1>
                    <h2 class="page__content-author" style="font-family: 'Gowun Dodum', sans-serif;">에릭 와이너 作</h2>

                    <p class="page__content-credits">

                        <span></span>
                    </p>

                    <p class="page__content-credits">

                        <span></span>
                    </p>

                    <div class="page__content-copyright">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="book__page-back">
                <div class="page__content">
                    <h1 class="page__content-title" style="font-family: 'Gowun Dodum', sans-serif;">목차</h1>
                    <table class="page__content-table">
                        <tr>
                            <td align="left">0</td><td align="left" style="font-family: 'Gowun Dodum', sans-serif;">출발</td><td align="right">1</td>
                        </tr>
                        <tr>
                            <td align="left">I</td><td align="left" style="font-family: 'Gowun Dodum', sans-serif;">새벽</td><td align="right">3</td>
                        </tr>
                        <tr>
                            <td align="left">II</td><td align="left" style="font-family: 'Gowun Dodum', sans-serif;">정오</td><td align="right">43</td>
                        </tr>
                        <tr>
                            <td align="left">III</td><td align="left" style="font-family: 'Gowun Dodum', sans-serif;">황혼</td><td align="right">87</td>
                        </tr>
                        <tr>
                            <td align="left">IV</td><td align="left" style="font-family: 'Gowun Dodum', sans-serif;">도착</td><td align="right">147</td>
                        </tr>
                    </table>

                    <div class="page__number">2</div>
                </div>
            </div>
        </label>
    </div>
</div>
</body>
</html>