<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 소크라테스 익스프레스</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/bookViewer2.css" />
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lovers+Quarrel" rel="stylesheet">
</head>
<style>
    body{
        font-family: 'Gowun Dodum', sans-serif;
    }
    .pageSt{
        font-size: 13px;
        padding: 0 2em  0;
        text-align: left;"
    }
</style>
<body>
<div class="book">
    <div id="pages" class="pages pageSt">
        <div class="page"><img src="/images/express.jpeg" style="width: 45vw; height: 66vw;"></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            <span><b>목차</b></span><br>
            1부 | 새벽 <br>
            1. 마르쿠스 아우렐리우스처럼 침대에서 나오는 법 <br>
            2. 소크라테스처럼 궁금해하는 법 <br>
            3. 루소처럼 걷는 법 <br>
            4. 소로처럼 보는 법 <br>
            5. 쇼펜하우어처럼 듣는 법 <br>

            2부 | 정오 <br>
            6. 에피쿠로스처럼 즐기는 법 <br>
            7. 시몬 베유처럼 관심을 기울이는 법 <br>
            8. 간디처럼 싸우는 법 <br>
            9. 공자처럼 친절을 베푸는 법 <br>
            10. 세이 쇼나곤처럼 작은 것에 감사하는 법 <br>

            3부 | 황혼 <br>
            11. 니체처럼 후회하지 않는 법 <br>
            12. 에피테토스처럼 역경에 대처하는 법 <br>
            13. 보부아르처럼 늙어가는 법 <br>
            14. 몽테뉴처럼 죽는 법 <br>
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            &nbsp;오전 7:07. 노스다코타의 어디쯤.<br>
            &nbsp;철도회사 암트랙의 엠파이어빌더 열차를 타고 시카고에서 오리건주 포틀랜드로 향하는 중. <br>

            &nbsp;내가 타로 있는 객실 창문으로 아침 햇살이 비스듬히 쏟아져 내린다. 햇살이 나를 부드럽게 깨워주었다고 말하고 싶지만, 사실 나는 잠들어 있지 않았다. 머리를 통돌이 건조기에 넣고 바싹 말린 것 같은 기분이다. 은근한 통증이 관자놀이에서부터 온몸으로 퍼져나간다. 뇌에 짙고 유독한 안개가 끼어 있다. 내 몸은 쉬고 있는 몸이지, 잘 쉰 몸은 아니다.<br>
            &nbsp;잠에 관해 사람들은 두 부류로 나뉜다. 첫 번째 부류는 잠을 인생의 성가신 방해물로 여기고 귀찮아한다. 두 번째 부류에게 잠은 인생의 순수한 쾌락 중 하나다. 나는 두 번째에 속한다. 내 얼마 없는 철칙중에 하나는 이거다. 내 수면을 방해하지 말 것. 앞트랙 철도는 내 수면을 방해했고, 지금 나는 썩 기분이 좋지 않다. <br>
            &nbsp;기차 여행과 수면의 관계는 다른 대부분의 관계와 마찬가지로 복잡하다. 기차의 흔들림이 나를 편안하게 재워준 것은 사실이
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            지만 곧 다른 감각, 몇 개만 예로 들면 좌우로의 떨림, 급작스러운 덜컹거림, 위아래로의 요동침(다른 이름으로는 파동)이 밤새도록 나를 깨워댔다. <br>
            &nbsp;태양이 훈련 교관 같은 다정함으로 내게 침대에서 나오라고 지시한다. 악마는 밤에 나타나지 않는다. 아침에 공격한다. 우리는 잠에서 깨어났을 때 가장 취약하다. 바로 그때가 내가 누구인지, 어떻게 여기 있는지에 대한 기억이 돌아오는 때이기 때문이다. <br>
            &nbsp;몸 위로 연파란색 임트랙 담요를 끌어당기며 옆으로 돌아눕는다. 물론 나는 침대에서 나올 수 있다. 정말이다. 하지만 굳이 왜 그래야 하지? <br>
            ◆<br>
            &nbsp;"좋은 아침입니다, 여러분!" <br>
            &nbsp;꾸벅 잠들었다가 다시 깨어났다. 좌우로의 떨림이나 위아래로의 요동침 때문이 아니라 누군가의 목소리 때문에. 목소리는 상쾌하고 활기차다. <br>
            &nbsp;누구지? <br>
            &nbsp;"저는 여러분의 식당 칸 안내원, 미스 올리버입니다. 이제 식당
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            칸을 이용하실 수 있습니다. 하지만 미스 올리버에게 서비스를 받으려면 꼭 챙겨야 할 게 있어요. 바로 신발과 셔츠, 그리고 친절입니다!" <br>
            &nbsp;이런. 이제 다시 잠들기는 글렀다. 담요가 흘러내리지 않게 조심하며 가방에 손을 뻗어 더듬더듬 책 한 권을 찾는다. 찾았다. 《명상록》. 얇다. 150쪽이 안 되고, 여백도 넒다. 표지에는 턱수염을 기른 근육질의 남자가 말에 타고 있는 조형물 사진이 있다. 두 눈에는 그 무엇도 증명할 필요가 없는 사람의 차분한 힘이 서려있다. <br>
            &nbsp;로마 황제 마르쿠스 아우렐리우스는 거의 50만 명에 달하는 군대를 지휘했다. 또한 전 세계 인구의 5분의 1이 거주하고 있는 영토가 잉글랜드에서 이집트까지, 대서양 해안에서 티그리스 강까지 이어지는 대제국을 지배했다. 하지만 마르쿠스(우리는 서로 이름을 부르는 사이다)는 아침형 인간이 아니었다. 침대에서 미적거렸고, 낮잠을 잔 뒤 오후에 대부분의 일을 처리했다. 이런 일상은 보통 새벽 동이 트기 전에 자리에서 일어났던 다른 로마인의 삶과는 달랐다. 로마 거리에서는 아직 해도 뜨지 않은 어두운 새벽에 눈을 게슴츠레하게 뜨고 등교하는 어린이들을 볼 수
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            있었다. 반명 마르쿠스는 엘리트 가정에서 태어난 덕분에 집에서 교육을 받았다. 마르쿠스는 늦잠을 잘 수 있었다. 그리고 정말로 평생 늦잠을 잤다.<br>
            &nbsp;마르쿠스와 나는 비슷한 점이 그리 많지 않다.<br>
            &nbsp;수백 년의 시간이 우리를 갈라놓고 있었고, 전혀 사소하지 않은 권력 차이는 말할 것도 없다. 마르쿠스는 미국 대륙 거의 절반에 맞먹는 크기의 제국을 지배했다. 나는 내 책상의 대략 절반 정도를 지배하며, 솔직히 말하자면 그것조차도 힘에 부친다. 나는 평생 명함, 잡지 구독 알림, 고양이털, 3일 된 참치 샌드위치, 고양이, 자질구레한 불교 장신구, 커피 머그잔, &lt;필로소피 나우&gt; 과월호, 개, 세금 보고 서류, 다시 고양이, 그리고 내가 가장 가까운 바다에서 250킬로미터 떨어진 곳에 산다는 점을 고려하면 왜 내 책상 위에 있는지 알 수 없는 모래의 반란을 물리치는 중이다.<br>
            &nbsp;하지만 마르쿠스를 읽으면 이런 차이는 사라진다. 마르쿠스와 나는 형제다. 마르쿠스는 제국을 통치하며 자신의 악마와 씨름을 했고, 나는 고양이에게 밥을 주며 나는 악마와 씨름을 한다. 우리에겐 공통의 적이 있다. 바로 아침이다. <br>
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            &nbsp;아침은 그날의 느낌을 결정한다 아침이 나쁘면 하루가 나쁘다.<br>
            &nbsp;항상 그런 건 아니지만, 대게는 그렇다. 춥고 칙칙한 월요일 아침에는 지위와 특권이 아무 쓸모가 없다. 삶의 다른 측면에서는 너무나 큰 도움이 되는 재산마저도 소용이 없다. 오히려 부유함은 푹신한 이불과 한 패가 되어 몸을 일으키지 못하게 만든다. <br>
            &nbsp;아침은 강렬하고 모순적인 감정을 일으킨다. 한편으로 아침은 희망의 냄새를 풍긴다. 모든 새벽은 곧 재탄생이다. 로널드 레이건은 '미국의 늦은 오후'라는 슬로건으로 캠페인을 벌이지 않았다. 레이건을 백악관에 앉힌 것은 '미국의 아침'을 불러오겠다는 약속이었다. 마찬가지로 훌륭한 생각은 우리 머릿속에 떠오르는 것이지, 내려앉는 것이 아니다. <br>
            &nbsp;하지만 어떤 이들에게 아침은 뭉근한 절망의 냄새를 풍긴다. 자기 삶을 싫어하는 사람은 아침을 싫어할 가능성이 크다. 불행한 삶에 아침은 영화 &lt;행오버3&gt;의 오프닝 장면과도 같다. 다가올 끔찍함의 맛보기랄까. 아침은 변화의 시간이며, 변화는 결코 쉽지 않다. 우리는 의식이 있는 상태를 떠나 잠이 들었다가 다시 각성 상태로 진입한다. 지리학적 용어로 말해보자면 아침은 의식의 국경 도시다. 정신의 티후아나(미국에 접한 멕시코의 국경<br>
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 12px; text-align: left;">
            도시=옮긴이)다. 어렴풋한 위험의 기미가 서린 혼란스러운 장소다.<br>
            &nbsp;철학자들은 다른 모든 것에 대해 그러하듯 아침에 대해서도 둘로 나뉘었다. 니체는 동틀 무렵에 일어나 얼굴에 차가운 물을 끼얹고 따뜻한 우유 한 잔을 마신 다음 오전 11시까지 일했다. 이마누엘 칸트는 이런 니체를 게으름뱅이로 보이게 한다. 칸트는 쾨니히스베르크의 하늘이 아직 잉크처럼 새까만 오전 5시에 일어나 묽은 차를 한 잔 마시고 파이프 담배를 더도 덜도 아닌 딱 한 대 피운 다음에 다음 일에 착수했다. 시몬 드 보부아르는 오전 10시가 다 되어서야 일어나(그녀에게 축복을) 에스프레소 한 잔을 마시며 느긋한 시간을 보냈다. 아아, 커피가 발명되기 약 1200년 전에 태어난 마르쿠스는 그러한 사치를 누리지 못했다.<br>
            ◆<br>
            &nbsp;프랑스의 실존주의자 알베르 카뮈는 자살이 "유일하게 참으로 진지한 철학적 문제"라고 말했다. "삶은 살 만한 가치가 있는 것인가? 그 밖의 문제는 형이상학적 수사에 지나지 않는다. 간단히 말해서, 철학자가 없다면 철학도 없다. ···<br>
        </p></div>
        <div class="page pageSt"><p style="font-family: 'Gowun Dodum', sans-serif; font-size: 15px; text-align: center;">
            저작권 보호
        </p>
        </div>
    </div>
</div>
</body>
<script  th:inline="javascript">
    var pages = document.getElementsByClassName('page');
    for(var i = 0; i < pages.length; i++)
    {
        var page = pages[i];
        if (i % 2 === 0)
        {
            page.style.zIndex = (pages.length - i);
        }
    }

    document.addEventListener('DOMContentLoaded', function(){
        for(var i = 0; i < pages.length; i++)
        {
            //Or var page = pages[i];
            pages[i].pageNum = i + 1;
            pages[i].onclick=function()
            {
                if (this.pageNum % 2 === 0)
                {
                    this.classList.remove('flipped');
                    this.previousElementSibling.classList.remove('flipped');
                }
                else
                {
                    this.classList.add('flipped');
                    this.nextElementSibling.classList.add('flipped');
                }
            }
        }
    })
</script>
</html>