<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 친구되기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/adminboard.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/component.css" type="text/css"/>
    <link rel="stylesheet" href="/css/default.css" type="text/css"/>
    <noscript><link rel="stylesheet" href="/css/noscript.css" type="text/css"/></noscript>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
        .small-width {display: none;}
        .mediaPage {display: none;}

        @media (max-width: 768px) {
             #button{width: 28%}
            .small-width {display: block;}
            .boarNum {display: none;}
            .cBoardDate {display: none;}
            .mediaPage {display: inline-block;}
            .originalPage {display: none;}
            .big-width{display: none;}
            #searchButton{width: 40px;}
        }

        /* body 기본 폰트 전체 적용 */
        body{
            font-family: 'Gowun Dodum', sans-serif;
        }

        #goRead{
            color: #ef8376;
            text-decoration: none!important;
        }

    </style>

<body class="no-sidebar is-preload">
<div id="page-wrapper">
    <div id="header">
        <!-- Nav --> <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
        <nav id="nav">

            <!-- 기북천사 로고 -->
            <div>
                <a href="/main/mainPage"> <!-- 로고 클릭시 메인페이지로 이동 -->
                    <img id="logoImg" src="/images/kibookLogoBlack.png"></a>
            </div>
            <ul>
                <!-- 검색 -->
                <form id="searchForm" style="padding: 0px;" method="post" action="/book/BookSearchOk" name="searchForm">
                    <div class="search" style="float: left; display:inline-block">
                        <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="javascript: if(event.keyCode == 13) {document.searchForm.submit();}">
                    </div>
                    <button onclick="document.searchForm.submit();" id="searchButton" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                             4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2l
                             vbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm9
                             4PSIwIDAgMzAuMjM5IDMwLjIzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjYxMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDB
                             jLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgk
                             JYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtNi43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NCwzLjQ0NC05LjA0OSw
                             zLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiwyMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo
                             8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K">
                    </button>
                </form>
                <li>
                    <a href="#">📖
                        <th:block th:text="${memberName}" />
                        <input type="hidden" name="sessionType" value="${sessionType}">
                    </a>
                    <ul>
                        <th:block th:if="${memberNum} == null">
                            <li id="loginTab"><a href="/member/login">로그인</a></li>
                            <li><a  href="/member/QnA">Q&A</a></li>
                        </th:block>

                        <th:block th:if="${memberNum} != null">
                            <li id="myPageTab"><a>마이페이지&hellip;</a>
                                <ul>
                                    <li><a href="/member/mypage">내정보 보기</a></li>
                                    <li><a href="/member/AllModify">회원정보 수정</a></li>
                                    <li id="applyTab"><a href="/board/list">신청게시판</a></li><!-- 관리자 전용 -->
                                    <li><a  href="/member/withdraw">회원탈퇴</a></li>
                                </ul>
                            </li>
                            <li><a  href="/member/QnA">Q&A</a></li>
                            <li id="logoutTab"><a  href="/member/MemberLogout">로그아웃</a></li>
                        </th:block>

                    </ul>
                </li>
            </ul>
        </nav>

    </div>
    <!-- Main -->
    <div class="wrapper style1">

        <div class="container">
            <article id="main" class="special" >
                <header>
                    <h3 style="margin-top:-3%; font-size: 30px;">기북천사와 친구되기</h3>
                </header>
                <th:block th:if="${memberNum} eq 81">
                <input type="hidden" class="btn btn-outline-success" value="글쓰기" onclick="goWrite()"/>
                    </th:block>
                <th:block th:if="${memberNum} ne 81">
                    <input type="button" id="button" class="btn btn-outline-success" value="글쓰기" onclick="goWrite()" style="left: 72%;padding: initial; top: -10px; z-index: 0;">
                </th:block>
                <div class="table-wrapper" style="margin: auto;">
                    <table style="text-align: center";>
                        <thead  style ="position: sticky; top:0;">
                        <tr style="background-color:#ceb980;" >
                            <th class="boarNum" style="width: 100px; text-align: center; ">번호</th>
                            <th style="width: 200px; text-align: center; ">제목</th>
                            <th style="width: 150px; text-align: center; ">작성자</th>
                            <th class="cBoardDate" style="width: 300px; text-align: center;">날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="board : ${list}">
                            <tr class="tBody" th:object="${board}">
                                <td class="boarNum" th:text="*{boardNum}"></td>

                                <th:block th:if="${memberNum} eq *{memberNum}">
                                    <td class="boardTitle"><a id="goRead" th:href="*{boardNum}" th:text="*{boardTitle}"></a></td>
                                </th:block>
                                <th:block>
                                    <th:block th:if="${memberNum} eq 81">
                                        <td class="boardTitle"><a id="goRead" th:href="*{boardNum}" th:text="*{boardTitle}"></a></td>
                                    </th:block>
                                    <th:block th:if="${memberNum} ne *{memberNum} and ${memberNum} ne 81">
                                        <td class="boardTitle" th:text="*{boardTitle}"></td>
                                    </th:block>
                                </th:block>

                                <td class="memberName" th:text="*{memberName}"></td>
                                <td class="cBoardDate" th:text="*{cBoardDate}"></td>
                                <!--   <tr>
                                       <td colspan="5" align="center">등록된 게시물이 없습니다.</td>
                                   </tr>-->
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                    <table style="font-size:1.3rem">
                        <tr align="center" valign="middle">
                        </tr>
                    </table>
                    <div th:object="${pageMaker}">
                        <div class="big-width" style="text-align: center">
                            <a class="changePage originalPage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                            <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                                <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                                <a class="changePage originalPage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
                            </th:block>
                            <a class="changePage originalPage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                        </div>

                        <div class="small-width" style="text-align: center">
                            <a class="changePage mediaPage" th:if="*{criteria.pageNum > 1}" th:href="*{criteria.pageNum - 1}"><code>&lt;</code></a>
                            <code th:text="*{criteria.pageNum}"></code>
                            <a class="changePage mediaPage" th:if="*{criteria.pageNum < realEnd}" th:href="*{criteria.pageNum + 1}"><code>&gt;</code></a>
                        </div>

                        <form action="/board/list" th:object="${criteria}" name="pageForm">
                            <input type="hidden" name="pageNum" th:field="*{pageNum}">
                            <input type="hidden" name="amount" th:field="*{amount}">
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <hr style="margin-bottom: 15em;  height: 4px; top: 14.5em;">
</div>
<!-- Copyright -->
<div class="copyright">
    <ul class="menu">
        <li>&copy; Kibook Angel. All rights reserved.</li>
    </ul>
</div>
</body>
<script th:inline="javascript"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/toucheffects.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script th:inline="javascript">
    // 글 등록 시 전달받는 게시글 번호를 alert으로 출력
    let pageForm = $(document.pageForm);
    let paging = [[${pageMaker.criteria.listLink}]];
    let searchForm = $(document.searchForm);

    $(document).ready(function(){
        let boardNum = [[${boardNum}]];
        if(boardNum == null){
            return;
        }
        alert("게시글 " + boardNum + "번이 등록되었습니다.");
    });

    $("a.changePage").click(function(e){
        e.preventDefault();
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });

    $("a#goRead").on("click", function(e){
        e.preventDefault();
        location.href = "/board/read" + paging + "&boardNum=" + $(this).attr("href");
    });

    function goWrite(){
        location.href = "/board/register";
    }
</script>

<!--<script th:inline="javascript">
    $(document).ready(function(){
        alert([[${memberNum}]])});
</script>-->
</html>