<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 친구되기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/adminboard.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/component.css" type="text/css"/>
    <link rel="stylesheet" href="/css/default.css" type="text/css"/>
    <link rel="stylesheet" href="/css/adminBoardApply.css" type="text/css"/>
    <noscript><link rel="stylesheet" href="/css/noscript.css" type="text/css"/></noscript>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
        .big-width {display: block;}
        .small-width {display: none;}

        @media (max-width: 918px) {
            .writer {display: none;}
            .regDate {display: none;}
            .updateDate {display: none;}
        }

        /* body 기본 폰트 전체 적용 */
        body{
            font-family: 'Gowun Dodum', sans-serif;
        }
        #logo{
            font-family: 'East Sea Dokdo', cursive;
            font-size:100px;
        }
        #underLogo{
            font-family: 'Yeon Sung', cursive;
            font-size:100px;
        }
        #category{
            font-family:'Gowun Dodum', sans-serif;
            font-size:30px;
            text-align: center;
        }
        ul{
            list-style:none;
            padding-left: 0px
        }

    </style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">
    <body class="no-sidebar is-preload">
    <div id="page-wrapper">
        <div id="header">
            <!-- Nav --> <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
            <nav id="nav">

                <!-- 기북천사 로고 -->
                <div>
                    <a href="/main/mainPage"> <!-- 로고 클릭시 메인페이지로 이동 -->
                        <img id="logoImg" src="/images/kibookLogoBlack.png"></a>
                </div>
                <ul>
                    <!-- 검색 -->
                    <form id="searchForm" style="width: 261px;float:left; padding: 0px;" method="post" action="/book/BookSearchOk" name="searchForm">
                        <div class="search" style="float: left; display:inline-block">
                            <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="javascript: if(event.keyCode == 13) {document.searchForm.submit();}">
                        </div>
                        <button onclick="document.searchForm.submit();" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                            <img id="searchImg" style="margin-top: -8%; width: 26px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                             4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2l
                             vbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm9
                             4PSIwIDAgMzAuMjM5IDMwLjIzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjYxMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDB
                             jLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgk
                             JYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtNi43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NCwzLjQ0NC05LjA0OSw
                             zLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiwyMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo
                             8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K">
                        </button>
                    </form>
                    <li>
                        <a href="#">📖
                            <th:block th:text="${memberName}" />
                            <input type="hidden" name="sessionType" value="${sessionType}">
                        </a>
                        <ul>
                            <th:block th:if="${memberNum} == null">
                                <li id="loginTab"><a href="/member/login">로그인</a></li>
                                <li><a  href="/main/qna">Q&A</a></li>
                            </th:block>

                            <th:block th:if="${memberNum} != null">
                                <li id="myPageTab"><a>마이페이지&hellip;</a>
                                    <ul>
                                        <li><a href="/member/mypage">내정보 보기</a></li>
                                        <li><a href="/member/AllModify">회원정보 수정</a></li>
                                        <li id="applyTab"><a href="/board/list">신청게시판</a></li><!-- 관리자 전용 -->
                                        <li><a  href="/member/withdraw">회원탈퇴</a></li>
                                    </ul>
                                </li>
                                <li><a  href="/main/qna">Q&A</a></li>
                                <li id="logoutTab"><a  href="/member/logout">로그아웃</a></li>
                            </th:block>

                        </ul>
                    </li>
                </ul>
            </nav>
    </div>
    <br>
    <br>
    <!-- 신청하기 form 작성란  enctype="multipart/form-data"-->
    <div>
        <form action="/board/modify" method="post" id="modifyForm">
            <fieldset id="applyForm">
                <div class="fields" th:object="${board}">
                    <div class="field">
                        <div class="form-group row">
                            <input id="board_title" name="board_title" type="text" th:field="${board.boardTitle}" style="text-align:left;background: white; font-size:1.5em; margin-bottom:3%; margin-top:8%; z-index: 0;">
                            <input name="boardMemberNum" type="hidden" th:field="${board.memberNum}" style="text-align:left; background: white; font-size: 1em; border: none; z-index: 0;" readonly/>
                            <!-- <p id="writer">작성자 :</p>-->
                            <!-- <input type="hidden" name="board_id" value="${session_id}">-->
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea" class="form-label mt-4">홈페이지 주소</label>
                            <input type="text" class="form-control" id="exampleTextarea" th:field="${board.siteLink}" aria-describedby="emailHelp" placeholder="기존 홈페이지 주소" style="font-family: 'Gowun Dodum', sans-serif;background: white;" name="sitelink">
                            <small id="emailHelp" class="form-text text-muted" style="font-size:13px;">기관 홈페이지 주소를 정확하게 입력해주세요.</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea" class="form-label mt-4"></label>
                            <textarea class="form-control" th:text="${board.boardContent}" id="Textarea" rows="10" style="resize: none; font-family: 'Gowun Dodum', sans-serif;" name="boardContent"/>
                        </div>
                        <input type="hidden" name="boardRemove" th:field="${board.boardNum}">
                        <input type="hidden" name="boardRemove" th:field="${board.cBoardDate}">

                        <div class="form-group">
                            <div class="field">
                                <h4>*첨부파일</h4>
                                <input type="file" name="uploadFiles" multiple class="form-control" style="font-family: 'Gowun Dodum', sans-serif;" >
                            </div>
                            <div class="field">
                                <div class="uploadResult">
                                    <ul></ul>
                                </div>
                            </div>
                        <div>
                            <!--<form action="" name="writeForm" method="post" enctype="multipart/form-data">-->
                            <input type="hidden" name="boardNum" value="">
                            <input type="submit" value="수정" class="btn btn-primary" style="left: 29%; font-family: 'Gowun Dodum', sans-serif;display: flex;align-items: center;border-radius: 5px;" id="ModifySubmit">
                            <input type="button" value="취소"  class="btn btn-primary" style="left:29%; font-family: 'Gowun Dodum', sans-serif; display: flex;align-items: center;border-radius: 5px;" id="ModifyCancel" onclick="javascript:history.back(); return false;">
                            <!-- </form>-->
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <hr />
</div>
<!-- Copyright -->
    <!--  Copyright -->
    <div class="copyright" style="height: 10em">
        <p style="margin-bottom: 0.5em; font-weight: 600; font-size: 20px; margin-left: 0.5em;">기북천사</p>
        <p style="margin-bottom: 0.2em;margin-left: 0.5em;">대표자 : 한동석, 일사천리 &nbsp;&nbsp; 주소: 서울특별시 강남구 역삼동 736-7 3~4층</p>
        <label for="intro" style="margin-bottom: 0.2em;margin-left: 0.5em;"><a style="text-decoration: none" id="intro" href="/main/introduce">기북천사 소개</a></label>
        <p style="margin-bottom: 0.2em;margin-left: 0.5em;">&copy; Kibook Angel. All rights reserved.</p>
    </div>

</body>

<script	src="/js/jquery.min.js"></script>
<script	src="/js/jquery.dropotron.min.js"></script>
<script	src="/js/jquery.scrolly.min.js"></script>
<script	src="/js/jquery.scrollex.min.js"></script>
<script	src="/js/browser.min.js"></script>
<script	src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/toucheffects.js"></script>

<script th:inline="javascript">
    let paging = [[${criteria.listLink}]];

    $("a#goList").on("click", function(){
        location.href = "/board/list" + paging;
    });
</script><script th:inline="javascript">
    $("input[type='submit']").on("click", function(e){
    e.preventDefault();
    let form = $("form#modifyForm");
    let str = "";
    $(".uploadResult ul li").each(function(i, obj){
    str += "<input type='hidden' name='attachList[" + i + "].fileName' value='" + $(obj).data('name') + "'>"
    str += "<input type='hidden' name='attachList[" + i + "].uuid' value='" + $(obj).data('uuid') + "'>"
    str += "<input type='hidden' name='attachList[" + i + "].uploadPath' value='" + $(obj).data('path') + "'>"
    str += "<input type='hidden' name='attachList[" + i + "].image' value='" + $(obj).data('type') + "'>"
    });
    form.append(str).submit();
    })

    $(document).ready(function(){
    let regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
    let maxSize = 5242880;// 5MB
    let inputFile = $(".uploadDiv input");
    let uploadResult = $(".uploadResult ul");
    let boardNum = [[${board.boardNum}]];

    function showUploadFile(uploadFiles){
    let str = "";
    $(uploadFiles).each(function(i, obj){
    if(!obj.image){
    let fileCallPath = encodeURIComponent(obj.uploadPath + "/" + obj.fileName);

    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
    str += "<div>";
        str += "<a href='/upload/download?fileName=" + fileCallPath + "'>";
            str += "<img src='/images/attach.png' width='30px'>" + obj.fileName.substring(obj.fileName.indexOf("_") + 1);
            str += "</a>"
        str += "<span data-file='" + fileCallPath + "' data-type='file'>x</span>";
        str += "</div>";
    str += "</li>";
    }else{
    let fileCallPath = encodeURIComponent(obj.uploadPath + "/s_" + obj.fileName);
    let originPath = encodeURIComponent(obj.uploadPath + "/" + obj.fileName);

    str += "<li data-path='" + obj.uploadPath + "' data-uuid='" + obj.uuid + "' data-name='" + obj.fileName.substring(obj.fileName.indexOf("_") + 1) + "' data-type='" + obj.image +"'>";
    str += "<div>";
        str += "<a href=\"javascript:showImage(\'" + originPath + "\')\">";
        str += "<img src='/upload/display?fileName=" + fileCallPath + "'>" + obj.fileName.substring(obj.fileName.indexOf("_") + 1);
        str += "</a>";
        str += "<span data-file='" + fileCallPath + "' data-type='image'>x</span>";
        str += "</div>";
    str += "</li>";
    }
    });
    uploadResult.append(str);
    }

    //확장자 별 업로드 제한, 특정 크기 이상의 파일은 업로드 제한
    function checkExtension(fileName, fileSize){
    if(regex.test(fileName)){
    alert("업로드 할 수 없는 파일의 형식입니다.");
    return false;
    }
    if(fileSize >= maxSize){
    alert("파일 사이즈 초과");
    return false;
    }
    return true;
    }

    $("input[type='file']").change(function(){
    let formData = new FormData();
    let inputFile = $("input[name='uploadFiles']");
    let files = inputFile[0].files;

    for(let i=0; i<files.length; i++){
    if(!checkExtension(files[i].name, files[i].size)){ return; }
    formData.append("uploadFiles", files[i]);
    }

    $.ajax({
    url: "/upload/uploadAjaxAction",
    type: "post",
    data: formData,
    contentType: false,
    processData: false,
    success: function(fileList){
    showUploadFile(fileList);
    inputFile.val("");
    }
    });
    });

    (function(){
    console.log(boardNum);
    $.getJSON("/board/getAttachList", {boardNum: boardNum},
    function(arr){
    console.log(arr);
    let str = "";

    $(arr).each(function(i, attach){
    if(!attach.image){
    let fileCallPath = encodeURIComponent(attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);
    str += "<li data-path='" + attach.uploadPath + "' data-uuid='" + attach.uuid + "' data-name='" + attach.fileName.substring(attach.fileName.indexOf("_") + 1) + "' data-type='" + attach.image +"'>";
    str += "<div>";
        str += "<a href='/upload/download?fileName=" + fileCallPath + "'>";
            str += "<img src='/images/attach.png' width='30px'>" + attach.fileName.substring(attach.fileName.indexOf("_") + 1);
            str += "</a>"
        str += "<span data-file='" + fileCallPath + "' data-type='image'>x</span>";
        str += "</div>";
    str += "</li>";
    }else{
    let fileCallPath = encodeURIComponent(attach.uploadPath + "/s_" + attach.uuid + "_" + attach.fileName);
    let originPath = encodeURIComponent(attach.uploadPath + "/" + attach.uuid + "_" + attach.fileName);

    str += "<li data-path='" + attach.uploadPath + "' data-uuid='" + attach.uuid + "' data-name='" + attach.fileName.substring(attach.fileName.indexOf("_") + 1) + "' data-type='" + attach.image +"'>";
    str += "<div>";
        str += "<a href=\"javascript:showImage(\'" + originPath + "\')\">";
        str += "<img src='/upload/display?fileName=" + fileCallPath + "'>" + attach.fileName.substring(attach.fileName.indexOf("_") + 1);
        str += "</a>";
        str += "<span data-file='" + fileCallPath + "' data-type='image'>x</span>";
        str += "</div>";
    str += "</li>";
    }
    });
    uploadResult.html(str);
    });//getJSON
    })();
    });

    $(".uploadResult").on("click", "span", function(){
    let targetFile = $(this).data("file");
    let type = $(this).data("type");
    let li = $(this).parents("li");
    li.remove();
    });
    </script>
</html>