<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 친구되기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/adminboard.css" type="text/css"/>
    <link rel="stylesheet" href="/css/adminBoardApply.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="/css/component.css" type="text/css"/>
    <link rel="stylesheet" href="/css/default.css" type="text/css"/>
    <noscript><link rel="stylesheet" href="/css/noscript.css" type="text/css"/></noscript>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
        .big-width {display: block;}
        .small-width {display: none;}

        @media (max-width: 918px) {
            .writer {display: none;}
            .regDate {display: none;}
            .updateDate {display: none;}
        }

        /* body 기본 폰트 전체 적용 */
        body{
            font-family: 'Gowun Dodum', sans-serif;
        }
        #logo{
            font-family: 'East Sea Dokdo', cursive;
            font-size:100px;
        }
        #underLogo{
            font-family: 'Yeon Sung', cursive;
            font-size:100px;
        }
        #category{
            font-family:'Gowun Dodum', sans-serif;
            font-size:30px;
            text-align: center;
        }

    </style>
<body class="no-sidebar is-preload">
<div id="page-wrapper">
    <div id="header">
        <!-- Nav --> <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
        <nav id="nav">

            <!-- 기북천사 로고 -->
            <div>
                <a href="#"> <!-- 로고 클릭시 메인페이지로 이동 -->
                    <img id="logoImg" src="#"></a>
            </div>
            <ul>
                <!-- 검색 -->
                <form id="searchForm" style="width: 261px;float:left; padding: 0px;" method="post" action="" name="searchForm">
                    <div class="search" style="float: left; display:inline-block">
                        <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="">
                    </div>
                    <button onclick="document.searchForm.submit();" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="" />
                    </button>
                </form>
                <li>
                    <a href="#">📖 홍길동</a>
                    <ul>
                        <li id="loginTab"><a href="#">로그인</a></li>
                        <li id="myPageTab"><a>마이페이지&hellip;</a>
                            <ul>
                                <li><a href="#">내정보 보기</a></li>
                                <li><a href="#">회원정보 수정</a></li>
                                <li id="applyTab"><a href="#">신청게시판</a></li><!-- 관리자 전용 -->
                                <li><a  href="#">회원탈퇴</a></li>
                            </ul>
                        </li>
                        <li><a  href="#">Q&A</a></li>
                        <!-- 여기서부터 작업(세훈) 로그인/로그아웃시 탭의 내용 띄우는것, 페이지 이동 -->
                        <li id="logoutTab"><a  href="#">로그아웃</a></li>

                    </ul>
                </li>
            </ul>
        </nav>

    </div>
    <br>
    <br>

    <!-- 신청하기 form 작성란 -->
    <div>
        <form action="" name="writeForm" method="post" enctype="multipart/form-data">
            <fieldset id="applyForm">
                <legend>신청하기</legend>
                <p id="writer" style="margin-left: -2%;">작성자 : 아이디가져오기</p>
                <!--<input type="hidden" name="c_memeber_id" value="${session_id}">-->
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">제목</label>
                    <input id="board_title" name="board_title" type="text" placeholder="제목 입력" style=" z-index: 0;">
                </div>
                <br>
                <br>
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4">홈페이지 주소</label>
                    <input type="text" name="site_link" class="form-control" aria-describedby="emailHelp" placeholder="예)www.kibookAngel.com" style="font-family: 'Gowun Dodum', sans-serif; z-index:0;">
                    <small id="emailHelp" class="form-text text-muted" style="font-size:13px;">기관 홈페이지 주소를 정확하게 입력해주세요.</small>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea" class="form-label mt-4" >내용</label>
                    <textarea class="form-control" id="exampleTextarea" name="board_content" rows="10" style="resize: none; font-family: 'Gowun Dodum', sans-serif;" >신청 기관 명 :
신청 지역 :
담당자 연락처 :
담당자 이메일 :

사용 계획서 간략하게 작성하여 PDF파일로 첨부 요청 드립니다.(양식 자유)

승인 여부는 3일 이내에 댓글로 안내해드립니다.
승인 시 쿠폰 번호는 내 정보 보기에서 확인 가능합니다.
			      </textarea>
                </div>
                <div class="form-group">
                    <label for="formFile" class="form-label mt-4">첨부파일
                    </label>
                </div>
                <div>
                    <input class="form-control" type="file" name="formFile" id="formFile" style="font-family: 'Gowun Dodum', sans-serif;">
                </div>
                <div>
                    <input type="button" value="신청" class="btn btn-primary" style="left: 29%; font-family: 'Gowun Dodum', sans-serif;display: flex;align-items: center;border-radius: 5px;" id="ModifySubmit" onclick="send()">
                    <input type="button" value="취소"  class="btn btn-primary" style="left: 35%; font-family: 'Gowun Dodum', sans-serif; display: flex;align-items: center;border-radius: 5px;" id="ModifyCancel" onclick="javascript:history.back(); return false;">
                </div>
            </fieldset>
        </form>
    </div>
</div>
<hr />
</div>
<!-- Copyright -->
<div class="copyright">
    <ul class="menu">
        <li>&copy; Kibook Angel. All rights reserved.</li>
    </ul>
</div>


</body>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/toucheffects.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script>
    function send(){

        if(!$("input#board_title").val()){
            alert("제목을 작성해주세요.");
            return;
        }
        if(!$("input[name='site_link']").val()){
            alert("홈페이지 주소를 입력해주세요.");
            return;
        }
        if(!$("textarea[name='board_content']").val()){
            alert("내용을 작성해주세요.");
            return;
        }
        document.writeForm.submit();
    }

</script>
</html>