<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 아이디 찾기</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/couponList.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap"
          rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
          rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<style>
    /* body 기본 폰트 전체 적용 */
    body{
        font-family: 'Gowun Dodum', sans-serif;
    }
    #logo{
        font-family: 'East Sea Dokdo', cursive;
        font-size:100px;
    }
    #underLogo{
        font-family: 'Yeon Sung', cursive;
        font-size:100px;
    }

    /*    #nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        text-align: right;
        padding: 1.5em 0 1.5em 0;
        z-index: 1;
        overflow: hidden;
        background-image: url(../../../app/images/bookHeader.jpg);
    } */
</style>
<body class="no-sidebar is-preload" style="background-color: white;">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">

        <!-- Nav -->
        <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
        <nav id="nav">

            <!-- 기북천사 로고 -->
            <div>
                <a href="${pageContext.request.contextPath}/main/main.ma"> <!-- 로고 클릭시 메인페이지로 이동 -->
                    <img id="logoImg" src="/images/kibookLogo.png"></a>
            </div>
            <ul>

                <!-- 검색 -->
                <form id="searchForm" style="width: 261px;float:left; padding: 0px;" method="post" action="${pageContext.request.contextPath}/book/BookSearchOk.oo" name="searchForm">
                    <div class="search" style="float: left; display:inline-block">
                        <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="javascript: if(event.keyCode == 13) {document.searchForm.submit();}">
                    </div>
                    <button onclick="document.searchForm.submit();" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                             4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2l
                             vbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm9
                             4PSIwIDAgMzAuMjM5IDMwLjIzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjYxMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDB
                             jLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgk
                             JYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtNi43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NCwzLjQ0NC05LjA0OSw
                             zLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiwyMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo
                             8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K" />
                    </button>
                </form>

                <!-- 회원정보 -->
                <li>
                    <a href="#">📖
                        <c:choose>
                            <c:when test="${session_id  eq '' || empty session_id}">
                                <c:out value="비회원"/>
                            </c:when>

                            <c:otherwise>
                                <c:out value="${session_name}"/>
                            </c:otherwise>
                        </c:choose>
                    </a>
                    <ul>
                        <c:choose>
                            <c:when test="${session_id  eq '' || empty session_id}">
                                <li id="loginTab"><a href="${pageContext.request.contextPath}/app/member/login.jsp">로그인</a></li>
                            </c:when>
                        </c:choose>

                        <c:choose>
                            <c:when test="${session_id  ne '' && not empty session_id}">
                                <li id="myPageTab"><a>마이페이지&hellip;</a>
                                    <ul>
                                        <li><a href="${pageContext.request.contextPath}/member/MemberMyPage.me">내정보 보기</a></li>
                                        <li><a href="${pageContext.request.contextPath}/member/AllModify.me">회원정보 수정</a></li>
                                        <li id="applyTab"><a href="${pageContext.request.contextPath}/board/BoardList.bo">신청게시판</a></li><!-- 관리자 전용 -->
                                        <li><a  href="${pageContext.request.contextPath}/member/Withdraw.me">회원탈퇴</a></li>
                                    </ul>
                                </li>
                            </c:when>
                        </c:choose>
                        <li><a  href="${pageContext.request.contextPath}/member/QnA.me">Q&A</a></li>
                        <c:choose>
                            <c:when test="${session_id  ne '' && not empty session_id}">
                                <li id="logoutTab"><a  href="${pageContext.request.contextPath}/member/MemberLogout.me">로그아웃</a></li>
                            </c:when>
                        </c:choose>


                    </ul>
                </li>
            </ul>
        </nav>

    </div>

</div>


<!-- Main -->
<div class="wrapper">
    <div class="inner" style="margin-left: 21%;margin-right: 10%;">

        <!-- Main -->
        <section class="main" style="width: 70%;margin-left: 10%;margin-right: 10%;border: solid;border-color: #fff;border-radius: 15px;background-color: #c3c2bd17;">

            <header class="major">
<!--
                <a href="#" class="image main"><img src="/images/login01.png" alt="" /></a>
-->
                <h1 style="text-align:center;font-size:30px;margin-bottom: 30px;">아이디 찾기</h1>
            </header>

            <form method="post" name="findId" id="findId">
                <div style="display:flex; justify-content:center; color:black;">
                    <div style="width: 65%;">
                        <div class="col-6 col-12-xsmall" style="width:100%; border-top: solid 7px #f5f4f3;">
                            <div>
															<span>
															<!--  style="margin-bottom: 2%;padding-top: 20px;border-top: solid 7px #f5f4f3;" -->
															<p class="findId" style="  margin-left: 40px;">이름 </p>
															<input type="text" style="margin-bottom: 3%;width: 64%;margin-right: 40%; left: 12%;" name="memberName" id="memberName" value=""/>
															<br>
                                                                <!-- style="margin-bottom: 3%;" -->
															<br>
															<br>
															<p  class="findId" style="  margin-left: 40px; margin-top: -37px;">전화번호</p>
															<input type="text" style="margin-bottom: 3%;width: 64%;margin-right: 3%;font-family: 'Gowun Dodum';font-size: 12px;margin-left: 12%;" name="memberTel" id="memberTel" placeholder="가입시 등록한 번호로 -없이 입력해주세요" value="">
															<input type="button" style="margin-bottom: 3%;text-align: center;font-size: 3px;width: 23%;font-family: 'Gowun Dodum';background-color: #8a8a8a;border-radius: 10px;margin-left: -2%;" id="btnCheckSMS" name="btnCheckSMS" value="인증번호 받기">
															<input type="text" style="margin: 0 40% 3% 0;width: 64%;font-family: 'Gowun Dodum';background-color: #E5E5E5;font-size: 12px;margin-left: 12%;" name="checkSMS" id="checkSMS" value="" placeholder="인증번호를 입력해주세요">
															<input type="button" id="btnCheckSMSSuccess" name="btnCheckSMSSuccess" value="인증번호 확인">
                                                                <p style="border-bottom: solid 7px #f5f4f3;"><br><br><br><br><br></p>
															</span>
                            </div>
                            <input type="button" style="margin-bottom: 15%;text-align: center;width: 65%;margin-left: 11%;font-family: 'Gowun Dodum';" id="btnFindIdOk" value="확 인"/>
                            <input type="button" style="text-align: center;font-size: 10px;width: 23%;font-family: 'Gowun Dodum';background-color: #8a8a8a;border-radius: 10px;margin-left: 1%;" id="btnFindId" onclick="history.back()" value="취 소"/>
                        </div>
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>

<hr>
<!-- Footer -->
<div class="copyright">
    <ul class="menu">
        <li>&copy; Kibook Angel. All rights reserved.</li>
    </ul>
</div>


<!-- Scripts -->





<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
<script>
    var frm = document.findId;
    var check = false;
    $("input#btnCheckSMS").on("click",function () {
        if (frm.memberName.value.length < 1) {
            alert("이름을 입력하세요");
            frm.memberName.focus();
            return;
        }
        if (frm.memberTel.value.length < 1) {
            alert("전화번호를 입력해주세요");
            frm.memberTel.focus();
            return;
        }

        let memberTel = $('input#memberTel').val();
        alert('인증번호 발송 완료!')


        $.ajax({
            type: "GET",
            url: "/member/membersmscheck",
            data: {
                "memberTel" : memberTel
            },
            success: function(res){
                $('#btnCheckSMSSuccess').click(function(){
                    if($.trim(res) ==$('input#checkSMS').val()){
                        alert('휴대폰 인증이 정상적으로 완료되었습니다.')
                        $("input#checkSMS").attr("disabled",true);
                        check = true;
                    }else{
                        alert('인증번호가 올바르지 않습니다!');
                    }
                })
            }
        })
    })
    $("input#btnFindIdOk").on("click",function(){
        if (frm.memberName.value.length < 1) {
            alert("이름을 입력하세요");
            frm.memberName.focus();
            return;
        }
        if (frm.memberTel.value.length < 1) {
            alert("전화번호를 입력해주세요");
            frm.memberTel.focus();
            return;
        }
        if(check){
            frm.action="/member/findID"
            frm.submit();
        }else{
            alert("휴대폰 인증을 진행해 주시기 바랍니다.")
        }
    })
</script>
</html>