<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 정보수정</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/adminboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <noscript>
        <link rel="stylesheet" href="/css/noscript.css" />
    </noscript>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&amp;display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&amp;display=swap" rel="stylesheet">
    <style>
        /* body 기본 폰트 전체 적용 */
        body {
            font-family: 'Gowun Dodum', sans-serif;
        }

        #logo {
            font-family: 'East Sea Dokdo', cursive;
            font-size: 100px;
        }

        #underLogo {
            font-family: 'Yeon Sung', cursive;
            font-size: 100px;
        }

        #goMain{display: none}
        #searchForm {width: 261px;float:left; padding: 0px;}
        #section{border: solid; border-color: rgb(255 255 255/ 98%); border-radius: 15px; width: 50%; margin: auto; background-color: #c3c2bd17;}
        #h2{margin-bottom: 1%; margin-top: 3%;}
        #div{display: flex; text-align: center; flex-direction: column; width: 47%; margin: auto;}

        @media (max-width: 768px) {
            #goMain{display: block}
            .searchButton{width: 50px;}
            #turtlelogo{display: none;}
            #searchForm {width: 230px;float:left; padding: 0px; top:5px;}
            #section{width: 90%}
            #h2{margin-top: 8%}
            #div{width: 85%}
        }

        @media (max-width: 480px) {
            #goMain{display: block}
            .searchButton{width: 50px;}
            #turtlelogo{display: none;}
            #searchForm {width: 230px;float:left; padding: 0px; top:5px;}
            #section{width: 90%}
            #h2{margin-top: 8%}
            #div{width: 85%}
        }
    </style>
</head>

<body style="background-color: white;">
<div id="page-wrapper">

    <!-- Header -->
    <div id="header">
        <!-- Nav --> <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
        <nav id="nav">

            <!-- 기북천사 로고 -->
            <div id="turtlelogo">
                <a href="/main/mainPage"> <!-- 로고 클릭시 메인페이지로 이동 -->
                    <img id="logoImg" src="/images/kibookLogo.png"></a>
            </div>
            <ul>
                <!-- 검색 -->
                <form id="searchForm" action="/book/list" name="searchForm">
                    <div class="search" style="float: left; display:inline-block">
                        <input id="keyword" type="text" name="keyword" placeholder="검색어 입력" style="display:inline-block; border:0; float:left; z-index:0;">
                        <!--                        <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="javascript: if(event.keyCode == 13) {document.searchForm.submit();}">-->
                    </div>
                    <button class="searchButton" onclick="javascript:void(0);" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                             4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2l
                             vbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm9
                             4PSIwIDAgMzAuMjM5IDMwLjIzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjYxMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDB
                             jLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgk
                             JYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtNi43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NCwzLjQ0NC05LjA0OSw
                             zLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiwyMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo
                             8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K" />
                    </button>
                </form>

                <!-- 회원정보 -->
                <li>
                    <a href="#" id="userName">📖
                        <th:block th:if= "${memberNum} == null" th:text="비회원"/>
                        <input type="hidden" name="sub" th:value="${sub}">

                        <th:block th:if= "${memberNum} != null" th:text="${memberName}" />
                        <input type="hidden" name="sessionType" value="${sessionType}">

                    </a>
                    <ul>
                        <th:block th:if="${memberNum} == null">
                            <li id="goMain"><a href="/main/mainPage">홈으로</a></li>
                            <li id="loginTab"><a href="/member/login">로그인</a></li>
                            <li><a  href="/main/qna">Q&A</a></li>
                        </th:block>

                        <th:block th:if="${memberNum} != null">
                            <li id="goMain"><a href="/main/mainPage">홈으로</a></li>
                            <li id="myPageTab"><a>마이페이지&hellip;</a>
                                <ul>
                                    <li><a href="/member/mypage">내정보 보기</a></li>
                                    <li><a href="/member/memberModify">회원정보 수정</a></li>
                                    <li id="applyTab"><a href="/board/list">신청게시판</a></li><!-- 관리자 전용 -->
                                    <li><a  href="/member/withdraw">회원탈퇴</a></li>
                                </ul>
                            </li>
                            <li><a  href="/main/qna">Q&A</a></li>
                            <li id="logoutTab"><a  href="/member/logout">로그아웃</a></li>
                        </th:block>

                    </ul>
                </li>
            </ul>
        </nav>

    </div>

    <!-- Main -->
    <div class="wrapper style1" style="padding-top: 0px;">

        <div class="modifyContainer" style="display: inherit;">
            <article style="margin-bottom: 0;" id="modifyArticle"
                     class="special">
                <header style="margin-top: 3%;">
                    <h2 id="h2">회원정보 수정</h2>
                    <p
                            style="border-bottom: solid 7px #f5f4f3; width: 53%; text-align: center; margin: auto;"></p>
                    <p id="modifyInfo" style="text-align: center; display: none">내정보</p>
                </header>


                <section id="section">
                    <form id="checkForm">
                        <div id="div">
                            <div style="width: 100%; margin-top: 7%;">
                                <div style="margin-bottom: 25%;">
                                    <p style="margin-bottom: 0%; font-size: 22px;">비밀번호 확인</p>
                                    <input id="pw" type="password" style="z-index: 0;width: 70%;">
                                    <input id="checkPw" type="button" value="확인" style="z-index: 0;width: 30%; padding: 0;">
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="post" action="/member/memberModify" id="modifyForm" name="modifyForm" style="display: none" th:object="${myInfo}">
                        <div
                                style="display: flex; text-align: center; flex-direction: column; width: 47%; margin: auto;">
                            <div style="height: 900px;">
                                <div>
                                    <div style="width: 100%; margin-top: 7%;">

                                        <p style="margin-bottom: 0%; font-size: 22px;">
                                            아이디 <span style="font-size: 0.7em;"></span>
                                        </p>
                                        <input type="text" style="margin-bottom: 4%; position: inherit; color: green;"
                                               name="memberId" id="memberId" th:value="*{memberId}" readonly>
                                        <br>
                                        <p style="margin-bottom: 0%; font-size: 22px;">비밀번호 변경</p>
                                        <input type="password" style="margin-bottom: 4%; position: inherit;" name="memberPw" id="memberPw" value=""
                                               placeholder="영문 4자 이상, 최대 20자"> <br>
                                        <p style="margin-bottom: 0%; font-size: 22px;">이름</p>
                                        <input type="text"
                                               style="margin-bottom: 4%; position: inherit; color: green;"
                                               name="memberName" id="memberName" th:value="*{memberName}" readonly>
                                        <br>
                                        <p style="margin-bottom: 0%; font-size: 22px;">핸드폰 번호</p>
                                        <div style="display: flex;">
                                            <input type="text" style="z-index: 0;width70%;margin-bottom: 4%; position: inherit;" name="memberTel" id="memberTel" th:value="*{memberTel}" placeholder="핸드폰 번호를 입력해 주세요." maxlength="13">
                                            <input type="button" id="checkTelBtn" name="checkTelBtn"
                                                   class="primary"
                                                   style="z-index: 0;border-radius: 10px; position: inherit; text-align: center; width: 30%; display: flex; align-items: center;"
                                                   value="중복 확인">
                                        </div>
                                        <p style="margin-bottom: 0%; font-size: 22px;">이메일</p>
                                        <input type="text" style="margin-bottom: 4%; position: inherit;"
                                               name="memberEmail" id="memberEmail" th:value="*{memberEmail}"
                                               placeholder="abc@gmail.com">
                                    </div>
                                </div>
                                <br>
                                <p
                                        style="margin-bottom: 0%; font-size: 22px;">우편번호</p>
                                <div
                                        style="display: flex; justify-content: flex-start; position: inherit; width: 100%;">
                                    <input style="z-index: 0;position: inherit; width: 60%;" type="text"
                                           name="memberZipcode" id="memberZipcode"
                                           class="postcodify_postcode5" th:value="*{memberZipcode}">
                                    <ul class="actions" style="width: 40%;">
                                        <li style="width: 100%;"><input type="button" id="postcodify_search_button"
                                                                        class="button primary"
                                                                        style="border-radius: 1; position: inherit; text-align: center; width: 100%; display: flex; align-items: center;"
                                                                        value="검색"></li>
                                    </ul>
                                </div>
                                <br>
                                <p
                                        style="margin-bottom: 0%; font-size: 22px;">주소</p>
                                <input type="text" style="margin-bottom: 4%; position: inherit;"
                                       name="memberAddress" id="memberAddress"
                                       class="postcodify_address" th:value="*{memberAddress}"> <br>
                                <p
                                        style="margin-bottom: 0%; font-size: 22px;">상세주소</p>
                                <input type="text" style="margin-bottom: 4%; position: inherit;"
                                       name="memberAddressDetail" id="memberAddressDetail"
                                       class="postcodify_details" th:value="*{memberAddressDetail}">
                                <br>
                                <p
                                        style="margin-bottom: 0%; font-size: 22px;">참고항목</p>
                                <input type="text" name="memberAddressEtc"
                                       id="memberAddressEtc" class="postcodify_extra_info"
                                       th:value="*{memberAddressEtc}" style="position: inherit;">
                                <br>
                                <div class="col-12" style="margin-top: 15%;">
                                    <ul class="actions"
                                        style="display: flex; justify-content: center; margin-bottom: 30%;">
                                        <li><input type="button"
                                                   style="width: 130px; position: inherit; display: flex; align-items: center;"
                                                   value="수정하기" class="primary" onclick="formSubmit()"></li>
                                        <li><input type="button" style="width: 130px; position: inherit; display: flex; align-items: center;"
                                                   value="취소" class="primary" onclick="history.back()"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </article>

            <hr>

            <div class="copyright" style="height: 10em">
                <p style="margin-bottom: 0.5em; font-weight: 600; font-size: 20px; margin-left: 0.5em;text-align: left;font-size: 16px;">기북천사</p>
                <p style="margin-bottom: 0.2em;margin-left: 0.5em;text-align: left;font-size: 16px;">대표자 : 한동석, 일사천리 &nbsp;&nbsp; 주소: 서울특별시 강남구 역삼동 736-7 3~4층</p>
                <label for="intro" style="margin-bottom: 0.2em;margin-left: 0.5em;text-align: left;font-size: 16px;"><a style="text-decoration: none" id="intro" href="/main/introduce">기북천사 소개</a></label>
                <p style="margin-bottom: 0.2em;margin-left: 0.5em;text-align: left;font-size: 16px;">&copy; Kibook Angel. All rights reserved.</p>
            </div>
        </div>

        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
        <script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
        <script src="/js/modify.js"></script>

        <script> $(function() { $("#postcodify_search_button").postcodifyPopUp(); }); </script>
        <script>var contextPath = "/kiBookAngel";</script>

    </div>
</body>

<script th:inline="javascript">
    var phoneCheck = true;
    var flag = false;
    $("input#checkTelBtn").on("click",function () {
        let memberTel = $('input#memberTel').val();
        $.ajax({
            url:"/member/changeTel",
            type:"post",
            data:{"memberTel":memberTel},
            success:function(result){
                if(result=="false"){
                    alert("중복된 핸드폰 번호입니다.");
                    $("input#memberTel").val("");
                    $("input#memberTel").focus();
                    phoneCheck = false;
                    flag = false;
                    return;
                }else if(result=="success"){
                    alert("사용 가능한 핸드폰 번호입니다.");
                    flag = true;
                    phoneCheck = true;
                }
            }
        })
    })

    $("input#checkPw").on("click", function(){
        if($("input#pw").val()==[[${myInfo.memberPw}]]){
            $("form#checkForm").css("display","none");
            $("form#modifyForm").css("display", "block");
            $("p#modifyInfo").css("display", "block");
        }else if($("input#pw").val()==""||$("input#pw").val()==null){
            alert("비밀번호를 입력해 주세요.");
            $("input#pw").focus();
            return;
        }else{
            alert("비밀번호를 확인해 주세요.");
            $("input#pw").focus();
            return;
        }
    })
    $("input#pw").keypress(function (e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            if($("input#pw").val()==[[${myInfo.memberPw}]]){
                $("form#checkForm").css("display","none");
                $("form#modifyForm").css("display", "block");
                $("p#modifyInfo").css("display", "block");
            }else{
                alert("비밀번호를 확인해 주세요.");
                $("input#pw").focus();
                return;
            }
        }
    })

    var form = document.modifyForm;
    function formSubmit(){

        if(form.memberPw.value==null||form.memberPw.value==""){
            alert("비밀번호를를 입력해 주세요");
            form.memberPw.focus();
            return;
        }
        var pwCheck = /^(?=.*[a-zA-Z])(?=.*[0-9]).{8,20}$/;

        if (!pwCheck.test(form.memberPw.value)) {
            alert("비밀번호는 영문자+숫자 조합으로 8~20자리 사용해야 합니다");
            form.memberPw.focus();
            return;
        }
        if(form.memberTel.value==null||form.memberTel.value==""){
            alert("전화번호를 입력해 주세요");
            form.memberTel.focus();
            return;
        }

        var patt = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
        var res = patt.test( $("input#memberTel").val());

        if(!res){
            alert("핸드폰 번호만 입력 가능합니다.");
            $("input#memberTel").val("");
            $("input#memberTel").focus();
            return;
        }

        if(form.memberEmail.value==null||form.memberEmail.value==""){
            alert("이메일을 입력해 주세요");
            form.memberEmail.focus();
            return;
        }

        var regex=/([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        var email = regex.test($("input#memberEmail").val());
        if(!email){
            alert("abc@abc.com 형식으로 작성해 주세요.");
            $("input#memberEmail").val("");
            $("input#memberEmail").focus();
            return;
        }

        if(form.memberZipcode.value==null||form.memberZipcode.value==""){
            alert("우편번호를 입력해 주세요");
            form.memberZipcode.focus();
            return;
        }
        if(form.memberAddress.value==null||form.memberAddress.value==""){
            alert("주소를 입력해 주세요");
            form.memberAddress.focus();
            return;
        }
        if(form.memberAddressDetail.value==null||form.memberAddressDetail.value==""){
            alert("상세주소를 입력해 주세요");
            form.memberAddressDetail.focus();
            return;
        }
        if(form.memberAddressEtc.value==null||form.memberAddressEtc.value==""){
            alert("참고항목을 입력해 주세요");
            form.memberAddressEtc.focus();
            return;
        }
        if(!phoneCheck){
            alert("핸드폰번호 중복검사를 진행해 주세요.")
            return;
        }
        if(!flag){
            alert("핸드폰번호 중복검사를 진행해 주세요.")
            return;
        }
        alert("정보수정이 완료되었습니다!")
        form.submit();
    }
    // <!--kkh 2021.11.03 새로 작성한 코드-->
    // 글 등록 시 전달받는 게시글 번호를 alert으로 출력
    let searchForm = $(document.searchForm);


    $("button.search").on("click", function(e){  /*$("a.search").on("click", function(e){*/
        e.preventDefault();


        if(!searchForm.find("input#keyword").val()){
            alert("키워드를 입력하세요");
            return;
        }
        searchForm.submit();
    });

    $("input#keyword").on("keydown", function(e){
        if(e.keyCode == 13){
            e.preventDefault();
            if(!searchForm.find("input#keyword").val()){
                alert("키워드를 입력하세요");
                return;
            }
            searchForm.submit();
        }
    })
    let sessionType = [[${sessionType}]];
    var applyTab = $("li#applyTab");

    if(sessionType == 0){
        applyTab.css("display","none");
    } else if(sessionType == 1){
        applyTab.css("display","inline");
    }

</script>
</html>