<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>기북천사 | 마이페이지</title>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/myPage.css" />
    <noscript> <link rel="stylesheet" href="/css/noscript.css" /> </noscript>
    <!-- 책 접었다 폈다 더보기 부분 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <script src="../assets/js/modernizr.custom.js"></script>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap"
            rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
            rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
            rel="stylesheet">
</head>
<style>
    /* body 기본 폰트 전체 적용 */
    body {
        font-family: 'Gowun Dodum', sans-serif;
    }

    #logo {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 100px;
    }

    #underLogo {
        font-family: 'Yeon Sung', cursive;
        font-size: 100px;
    }
</style>
<body class="homepage is-preload">
<div id="page-wrapper">
    <c:set var="member_id" value="${member_id}"/>
    <c:set var="coupons" value="${coupons}" />
    <c:set var="books" value="${books}" />

    <c:set var="totalCnt" value="${totalCnt}" />
    <c:set var="realEndPage" value="${realEndPage}" />
    <c:set var="startPage" value="${startPage}" />
    <c:set var="endPage" value="${endPage}" />
    <c:set var="nowPage" value="${nowPage}" />

    <!-- 헤더부분 메인에서 맞춰서 가져올것! 메인에서 페이징 작업은 디자인 완료후 처리 해주어야 한다. -->
   <!--Header-->
    <div id="header">
        &lt;!&ndash; 상단 탭 &ndash;&gt;
        &lt;!&ndash; Nav &ndash;&gt;
        <nav id="nav">
            <!--기북천사 로고-->
            <div>
                <a href="${pageContext.request.contextPath}/main/main.ma">
                    <!--로고 클릭시 메인페이지로 이동-->
                <img id="logoImg" src="/images/kibookLogo.png"></a>
            </div>
            <ul>
                <!--검색-->
                <div id="searchForm" style="width: 261px;float:left;padding: 0 0 0 8px;">
                    <div class="search" style="float: left; display:inline-block">
                        <input type="text" style="display:inline-block; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="enterkey();">
                    </div>
                    <button onclick="searchData();" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="
                    data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                    4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5v
                    cmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsa
                    W5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm94PSIwIDAgMzAuMjM5IDMwLj
                    IzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjY
                    xMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDBjLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3
                    LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgkJYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtN
                    i43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NC
                    wzLjQ0NC05LjA0OSwzLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiw
                    yMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9n
                    Pg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K" /></button>
                </div>

                <!--회원정보-->
                <li>
                    <a href="#">📖
                        <:choose>
                            <c:when test="${session_id  eq '' || empty session_id}">
                                <c:out value="비회원"/>
                            </c:when>

                            <c:otherwise>
                                <c:out value="${session_name}"/>
                            </c:otherwise>
                        </:choose>
                    </a>
                    <ul>
                        <c:choose>
                            <c:when test="${session_id  eq '' || empty session_id}">
                                <li id="loginTab"><a href="${pageContext.request.contextPath}/app/member/login.jsp">로그인</a></li>
                            </c:when>
                        </c:choose>

                        <c:choose>
                            <c:when test="${session_id  ne '' && not empty session_id}">
                                <li id="myPageTab"><a>마이페이지&hellip;</a>
                                    <ul>
                                        <li><a href="${pageContext.request.contextPath}/member/MemberMyPage.me">내정보 보기</a></li>
                                        <li><a href="${pageContext.request.contextPath}/member/AllModify.me">회원정보 수정</a></li>
                                        <li id="applyTab"><a href="${pageContext.request.contextPath}/board/BoardList.bo">신청게시판</a></li>&lt;!&ndash; 관리자 전용 &ndash;&gt;
                                        <li><a  href="${pageContext.request.contextPath}/member/Withdraw.me">회원탈퇴</a></li>
                                    </ul>
                                </li>
                            </c:when>
                        </c:choose>
                        <li><a  href="${pageContext.request.contextPath}/member/QnA.me">Q&A</a></li>
                        <c:choose>
                            <c:when test="${session_id  ne '' && not empty session_id}">
                                <li id="logoutTab"><a  href="${pageContext.request.contextPath}/member/MemberLogout.me">로그아웃</a></li>
                            </c:when>
                        </c:choose>


                    </ul>
                </li>
            </ul>
        </nav>

    </div>-->
    <!-- 마이페이지(회원 및 기업 정보표시) -->


    <div class="table-wrapper" style="margin-top: 7%; margin-bottom: 7%;margin-left:auto; margin-right:auto; width: 80%"  th:object="${myInfo}">
        <div>
            <h2 style="font-size: 25px; display: inline;padding:1% 1% 1% 18%; display: inline; float: left" th:text="|*{memberId}님의 정보입니다. 변경을 원하시면 정보수정을 눌러주세요|"></h2>
        </div>
        <input class="btn" type="button" value="수정하기" style=" display: inline; float: right; position: absolute; margin-top: 1%; margin-left: 1%;" onclick="location.href='/member/memberModify'">
        <!-- <div style="display:flex; justify-content:space-between;">
                          </div> -->

        <!-- 개인/기관 회원 정보 -->
        <table style="text-align: center; ">
            <!--                                  <caption style="text-align:left; margin-bottom:3%;">
            </caption>-->

            <tbody>
            <tr>
                <td rowspan="5" class="col" style="background-color: #CEB980;"></td>
                <td class="tdFirst">아이디</td>
                <td th:text="*{memberId}"></td>
                <td rowspan="5" class="col" style="background-color: #CEB980;"></td>
            </tr>
            <tr>
                <td class="tdFirst">이름</td>
                <td th:text="*{memberName}"></td>
            </tr>
            <tr>
                <td class="tdFirst">전화번호</td>
                <td th:text="*{memberTel}"></td>
            </tr>
            <tr>
                <td class="tdFirst">이메일</td>
                <td th:text="*{memberEmail}"></td>
            </tr>
            <tr>
                <td class="tdFirst">주소</td>
                <td th:text="|*{memberAddress} *{memberAddressDetail}|"></td>
            </tr>
            </tbody>
        </table>


        <table style="font-size: 1.3rem">
            <tr align="center" valign="middle">
            </tr>
        </table>

        <c:choose>
            <c:when test="${session_accountType == 0 }">
                <div>
                    <h2 style="font-size: 25px; display: inline; padding:0 18%">이용권</h2>
                    <table style="text-align: center;">
                        <!-- <caption style="text-align:left; margin-bottom:3%;">
                        </caption>-->


                        <thead>
                        <tr style="background-color: #ceb980">
                            <th style="width: 50%;" class="tdFirst">이용권/유효기간</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="td tdFirst">구독 사용 정보</td>
                        </tr>
                        <tr>
                            <td class="tdFirst">

                                <div>
                                    <c:choose>
                                        <c:when test="${requestScope.startDate == '' || requestScope.startDate == null}">
<!--
                                            구독 안했을때 출력
                                            <p style="text-align: center;">구독 미신청 상태입니다.</p>
                                            <div>
                                                <input class="btn" type="button" value="구독 신청" onclick="location.href='구독신청 페이지'">
                                            </div>

                                            아래는 구독했을때 나오는 출력
-->
                                        </c:when>
                                        <c:otherwise>
                                            <p style="text-align: center;">21-10-03 ~ 21-11-02</p>
                                            <div>
                                                <input class="btn" type="button" value="구독 취소" onclick="location.href='구독 취소 페이지'">
                                            </div>
                                        </c:otherwise>
                                    </c:choose>

                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- 추가 -->

            </c:when>

            <c:otherwise>
                <div>
                    <h2 style="font-size: 25px; display: inline; padding:0 18%">쿠폰</h2>
                    <table style="text-align: center;">
                        <!-- <caption style="text-align:left; margin-bottom:3%;">
                        </caption>-->


                        <thead>
                        <tr style="background-color: #ceb980">
                            <th style="width: 50%;">쿠폰/수량</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>쿠폰 / 수량</td>
                        </tr>
                        <tr>
                            <td>
                                <div>보유쿠폰 OO개</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div> <!-- 추가 -->

            </c:otherwise>

        </c:choose>



        <!-- 슬라이드 -->
        <!--  Carousel -->


        <section id="basketForm" class="carousel">
            <p id="category" style="font-size: 30px; margin-left: 2.5%;">나의 책가방</p>
            <div class="reel">

                <c:forEach var="book" items="${books}" varStatus="status">
                    <article class="grid cs-style-4">
                        <figure>
                            <div>
                                <img src="/bookImages/02dream.jpg" height="262" width="175" alt="">
                            </div>
                            <figcaption>
                                <div style="margin-top: 50%;">
                                    <span>
                                        <p style="margin-bottom: 0;">바로읽기</p>
                                        <a id="read" href="#popUp" target="_self" onclick="openPop()">
                                        <img src="/images/ebookread.png" /></a>
                                    </span>
                                    <span>
                                        <p style="margin-bottom: 0;">상세보기</p> <a id="more" href="#"><img
                                    src="/images/backpack.png" /></a>
                                    </span>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </c:forEach>
            </div>
        </section>



        <!-- 쿠폰리스트 -->
        <br>
        <div id="couponForm"> <!-- 추가 -->
            <div style="width: 65%; height: 3em; margin: 0 auto;">
                <h2 style="font-size: 25px; display: inline; float: left;margin-right: 0;">쿠폰 보관함</h2>
                <!-- 				<input type="button" value="쿠폰 등록" style="float: right; margin-right: 0px; font-size: 15px; height: 1.7em; margin-top: 1%; margin-left: 1%; width: 5em;" />
                 -->		</div>
            <table style="text-align: center;">
                <!-- <caption style="text-align:left; margin-bottom:3%;">
                </caption>-->
                <thead>
                <tr style="background-color: #ceb980">
                    <th class="tdFirst">번호</th>
                    <th class="tdFirst">쿠폰번호</th>
                    <th>사용 유무</th>
                </tr>
                </thead>
                <tbody>

                <c:choose>
                    <c:when test="${coupons != null and fn:length(coupons) > 0}">
                        <c:forEach var="coupon" items="${coupons}" varStatus="status">
                            <tr>
                            <tr>
                                <!--쿠폰이 있다면
                                <td class="tdFirst">쿠폰 시퀀스</td>
                                <td class="tdFirst">AAAA-AAAA-AAAA-AAAA</td>-->
                                <td>
                                    <c:choose>
                                        <c:when test="${coupon.getCoupon_status() == 0}">
                                            <c:out value="X"/>
                                        </c:when>
                                        <c:otherwise>
                                            <c:out value="O"/>
                                        </c:otherwise>
                                    </c:choose>
                                </td>
                            </tr>
                        </c:forEach>
                    </c:when>
                    <c:otherwise>
                        <tr>
                            <td colspan="5" align="center">등록된 쿠폰이 없습니다.</td>
                        </tr>
                    </c:otherwise>
                </c:choose>
                </tbody>
            </table>



            <!-- 1,2,3,4,5 페이지 넘버링 -->
            <table style="font-size:1.3rem">
                <tr align="center" valign="middle">
                    <td>
                        <c:if test="${nowPage > 1}">
                            <a href="${pageContext.request.contextPath}/member/MemberMyPage.me?page=${nowPage-1}">&lt;</a>
                        </c:if>

                        <c:forEach var="i" begin="${startPage}" end="${endPage}">
                            <c:choose>
                                <c:when test="${i eq nowPage}">
                                    <c:out value="[${i}]"/>&nbsp;
                                </c:when>
                                <c:otherwise>
                                    <a href="${pageContext.request.contextPath}/member/MemberMyPage.me?page=${i}"><c:out value="${i}"/></a>
                                </c:otherwise>
                            </c:choose>
                        </c:forEach>

                        <c:if test="${nowPage != realEndPage}">
                            <a href="${pageContext.request.contextPath}/member/MemberMyPage.me?page=${nowPage+1}">&gt;</a>
                        </c:if>
                    </td>
                </tr>
            </table>

        </div>






<!--
        &lt;!&ndash;  Footer &ndash;&gt;
        <%&#45;&#45;<div id="footer">
        <div class="container">
            <div class="row">

                &lt;!&ndash; Tweets &ndash;&gt;
                <section class="col-4 col-12-mobile">
                    <header>
                        <h2 class="icon brands fa-twitter circled">
                            <span class="label">Tweets</span>
                        </h2>
                    </header>
                    <ul class="divided">
                        <li>
                            <article class="tweet">
                                Amet nullam fringilla nibh nulla convallis tique ante sociis
                                accumsan. <span class="timestamp">5 minutes ago</span>
                            </article>
                        </li>
                        <li>
                            <article class="tweet">
                                Hendrerit rutrum quisque. <span class="timestamp">30
										minutes ago</span>
                            </article>
                        </li>
                        <li>
                            <article class="tweet">
                                Curabitur donec nulla massa laoreet nibh. Lorem praesent
                                montes. <span class="timestamp">3 hours ago</span>
                            </article>
                        </li>
                        <li>
                            <article class="tweet">
                                Lacus natoque cras rhoncus curae dignissim ultricies. Convallis
                                orci aliquet. <span class="timestamp">5 hours ago</span>
                            </article>
                        </li>
                    </ul>
                </section>

                <&#45;&#45;  Posts &ndash;&gt;
                <section class="col-4 col-12-mobile">
                    <header>
                        <h2 class="icon solid fa-file circled">
                            <span class="label">Posts</span>
                        </h2>
                    </header>
                    <ul class="divided">
                        <li>
                            <article class="post stub">
                                <header>
                                    <h3>
                                        <a href="#">Nisl fermentum integer</a>
                                    </h3>
                                </header>
                                <span class="timestamp">3 hours ago</span>
                            </article>
                        </li>
                        <li>
                            <article class="post stub">
                                <header>
                                    <h3>
                                        <a href="#">Phasellus portitor lorem</a>
                                    </h3>
                                </header>
                                <span class="timestamp">6 hours ago</span>
                            </article>
                        </li>
                        <li>
                            <article class="post stub">
                                <header>
                                    <h3>
                                        <a href="#">Magna tempus consequat</a>
                                    </h3>
                                </header>
                                <span class="timestamp">Yesterday</span>
                            </article>
                        </li>
                        <li>
                            <article class="post stub">
                                <header>
                                    <h3>
                                        <a href="#">Feugiat lorem ipsum</a>
                                    </h3>
                                </header>
                                <span class="timestamp">2 days ago</span>
                            </article>
                        </li>
                    </ul>
                </section>


                &lt;!&ndash;  Photos &ndash;&gt;
                <section class="col-4 col-12-mobile">
                    <header>
                        <h2 class="icon solid fa-camera circled">
                            <span class="label">Photos</span>
                        </h2>
                    </header>
                    <div class="row gtr-25">
                        <div class="col-6">
                            <a href="#" class="image fit"><img
                                    src="${pageContext.request.contextPath}/app/images/pic10.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"><img
                                    src="${pageContext.request.contextPath}/app/images/pic11.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"><img
                                    src="${pageContext.request.contextPath}/app/images/pic12.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"><img
                                    src="${pageContext.request.contextPath}/app/images/pic13.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"><img
                                    src="${pageContext.request.contextPath}/app/images/pic14.jpg"
                                    alt="" /></a>
                        </div>
                        <div class="col-6">
                            <a href="#" class="image fit"><img
                                    src="${pageContext.request.contextPath}/app/images/pic15.jpg"
                                    alt="" /></a>
                        </div>
                    </div>
                </section>


            </div>
            <hr />&#45;&#45;%>
            <div class="row">
                <div class="col-12">-->

                    <!-- Contact -->
                    <!--                            <section class="contact">
                                  <header>
                                     <h3>Nisl turpis nascetur interdum?</h3>
                                  </header>
                                  <p>Urna nisl non quis interdum mus ornare ridiculus egestas ridiculus lobortis vivamus tempor aliquet.</p>
                                  <ul class="icons">
                                     <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                                     <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                                     <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                                     <li><a href="#" class="icon brands fa-pinterest"><span class="label">Pinterest</span></a></li>
                                     <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
                                     <li><a href="#" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
                                  </ul>
                               </section> -->

                    <!--  Copyright -->
                    <div class="copyright">
                        <ul class="menu">
                            <li>&copy; Kibook Angel. All rights reserved.</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>


        <!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dropotron.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/modernizr.custom.js"></script>
        <script src="/js/toucheffects.js"></script>
</body>
<!-- 검색 -->



<script>

    // 책읽기 띄우기
    function openPop(){
        if(${session_sub_status eq 0 || session_id  eq '' || empty session_id}){
            alert("구독한 회원만 읽을 수 있습니다.");
        }

        if(${session_sub_status eq 1}){
            var popup = window.open('${pageContext.request.contextPath}/app/book/bookViewer.jsp', '기북천사 뷰어', 'width=800px,height=900px,scrollbars=yes');
        }

    }




    // 로그인 계정에 따른 표시창 구분
    //session.setAttribute("session_accountType", 1);
    var couponForm = document.querySelector("#couponForm");

    var basketForm = document.getElementById("basketForm");
    var subForm = document.getElementById("subForm");

    console.log(couponForm);
    console.log(basketForm);
    console.log(subForm);

    if(${session_accountType eq 0}){
        console.log("일반");
        couponForm.style.display = "none";
    }else{
        console.log("기업");
        basketForm.style.display = "none";
        subForm.style.display = "none";

    }

// 검색어 내용 확인
    function checkSearch(){
        var form = document.searchForm;
        if(!form.search_text.value){
            alert("검색어를 입력해주세요.");
            return;
        }
        form.submit();
    }

    // 엔터 키 작동
    function enterkey() {
        if (window.event.keyCode == 13) {
            searchData();
        }
    }

    // 책 검색
    function searchData(){
        location.href="${pageContext.request.contextPath}/app/book/searchResult.jsp";
    }
</script>
</html>