<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>기북천사 | 회원탈퇴</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/adminboard.css" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<style>
    /* body 기본 폰트 전체 적용 */
    body{
        font-family: 'Gowun Dodum', sans-serif;
    }
    #logo{
        font-family: 'East Sea Dokdo', cursive;
        font-size:100px;
    }
    #underLogo{
        font-family: 'Yeon Sung', cursive;
        font-size:100px;
    }


</style>
<body class="no-sidebar is-preload" style="background-color: white;">

<div id="page-wrapper">

    <div id="header">
        <!-- Nav --> <!-- 상단탭(아마 모든 분들이 쓰셔야 할 코드..) -->
        <nav id="nav">

            <!-- 기북천사 로고 -->
            <div>
                <a href="/main/mainPage"> <!-- 로고 클릭시 메인페이지로 이동 -->
                    <img id="logoImg" src="/images/kibookLogoBlack.png"></a>
            </div>
            <ul>
                <!-- 검색 -->
                <form id="searchForm" style="width: 261px;float:left; padding: 0px;" method="post" action="/book/BookSearchOk" name="searchForm">
                    <div class="search" style="float: left; display:inline-block">
                        <input type="text" name="search_text" id="search_text" value="" style="display:inline-block; border:0; float:left; z-index:0;" placeholder="검색어 입력" onkeydown="javascript: if(event.keyCode == 13) {document.searchForm.submit();}">
                    </div>
                    <button onclick="document.searchForm.submit();" style="float: right; display:inline-block; margin-right: -51px; text-align:center; padding-top:10px;">
                        <img id="searchImg" style="margin-top: -8%; width: 26px;" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE2LjAuMCwgU1ZHIEV
                             4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4NCjxzdmcgdmVyc2l
                             vbj0iMS4xIiBpZD0iQ2FwYV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjMwLjIzOXB4IiBoZWlnaHQ9IjMwLjIzOXB4IiB2aWV3Qm9
                             4PSIwIDAgMzAuMjM5IDMwLjIzOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzAuMjM5IDMwLjIzOTsiDQoJIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGc+DQoJPHBhdGggZD0iTTIwLjE5NCwzLjQ2Yy00LjYxMy00LjYxMy0xMi4xMjEtNC42MTMtMTYuNzM0LDB
                             jLTQuNjEyLDQuNjE0LTQuNjEyLDEyLjEyMSwwLDE2LjczNQ0KCQljNC4xMDgsNC4xMDcsMTAuNTA2LDQuNTQ3LDE1LjExNiwxLjM0YzAuMDk3LDAuNDU5LDAuMzE5LDAuODk3LDAuNjc2LDEuMjU0bDYuNzE4LDYuNzE4YzAuOTc5LDAuOTc3LDIuNTYxLDAuOTc3LDMuNTM1LDANCgk
                             JYzAuOTc4LTAuOTc4LDAuOTc4LTIuNTYsMC0zLjUzNWwtNi43MTgtNi43MmMtMC4zNTUtMC4zNTQtMC43OTQtMC41NzctMS4yNTMtMC42NzRDMjQuNzQzLDEzLjk2NywyNC4zMDMsNy41NywyMC4xOTQsMy40NnoNCgkJIE0xOC4wNzMsMTguMDc0Yy0zLjQ0NCwzLjQ0NC05LjA0OSw
                             zLjQ0NC0xMi40OTIsMGMtMy40NDItMy40NDQtMy40NDItOS4wNDgsMC0xMi40OTJjMy40NDMtMy40NDMsOS4wNDgtMy40NDMsMTIuNDkyLDANCgkJQzIxLjUxNyw5LjAyNiwyMS41MTcsMTQuNjMsMTguMDczLDE4LjA3NHoiLz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo
                             8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjwvc3ZnPg0K">
                    </button>
                </form>
                <li>
                    <a href="#">📖
                        <th:block th:text="${memberName}" />
                        <input type="hidden" name="sessionType" value="${sessionType}">
                    </a>
                    <ul>
                        <th:block th:if="${memberNum} == null">
                            <li id="loginTab"><a href="/member/login">로그인</a></li>
                            <li><a  href="/member/QnA">Q&A</a></li>
                        </th:block>

                        <th:block th:if="${memberNum} != null">
                            <li id="myPageTab"><a>마이페이지&hellip;</a>
                                <ul>
                                    <li><a href="/member/mypage">내정보 보기</a></li>
                                    <li><a href="/member/AllModify">회원정보 수정</a></li>
                                    <li id="applyTab"><a href="/board/list">신청게시판</a></li><!-- 관리자 전용 -->
                                    <li><a  href="/member/withdraw">회원탈퇴</a></li>
                                </ul>
                            </li>
                            <li><a  href="/member/QnA">Q&A</a></li>
                            <li id="logoutTab"><a  href="/member/logout">로그아웃</a></li>
                        </th:block>

                    </ul>
                </li>
            </ul>
        </nav>

    </div>
<!-- Main 여기서부터 추가 2021/09/27 -->
<div class="wrapper">
    <div class="inner">

        <!-- Main -->
        <section class="main" style="width: 74%; margin-left: 14%;">
            <!-- 끝 -->

            <!-- Main -->
            <header class="major">
                <a href="#" class="image main"><img src="/images/login01.png" alt="" /></a>
                <h1 style="text-align:center; font-size:30px">회원탈퇴</h1>
            </header>

            <div style="display:flex; justify-content:space-evenly; color:black;">
                <div style="width:40%;margin-bottom: 70px;">
                    <div>
                        <form name="withdraw" id="withdraw">
                            <div class="col-6 col-12-xsmall" style="width:100%">
                                <p style="margin-bottom: 2%;">비밀번호 재확인</p>
                                <input type="password" style="margin-bottom: 3%; position:inherit;" name="memberPw" id="memberPw" value=""/>
                            </div>
                        </form>
                    </div>

                    <div>
                        <p>본인 확인을 위해 비밀번호를 다시 한번 확인합니다.<br>본인 확인 후 최종 회원탈퇴가 가능합니다.</p>
                    </div>

                    <div class="col-12">
                        <ul class="actions" style="display:block; text-align:center; margin-top: 5%;margin-bottom: 5%;">
                            <li><input type="button" value="취소" class="primary" style="width: 100%;font-size:1em;margin-left: -7px;margin-right: 40px;" onclick="history.back()"/></li>
                            <li><input type="button" value="확인" style="width: 100%;font-size:1em;margin-left: 0px;margin-right: 40px;" onclick="check()"/></li>
                        </ul>
                    </div>
                    <ul class="menu" style="text-align: center;">
                        <li>&copy; Kibook Angel. All rights reserved.</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Scripts -->

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/jquery.scrolly.min.js"></script>
<script src="/js/jquery.scrollex.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
<script>
    $("input#memberPw").keydown(function (e) {
        if(e.keyCode==13){
            e.preventDefault();
            check();
        }
    })

    function check(){
        var memberPw = $("input#memberPw").val();
        $.ajax({
            url : "/member/withdrawcheck",
            type : "post",
            data :{"memberPw" : memberPw},
            success : function (result) {
                console.log(result);
                if(result=="success"){
                    if(confirm("정말로 탈퇴하시겠습니까?"))
                    {
                        alert("탈퇴가 완료되었습니다.");
                        var frm = document.withdraw;

                        frm.method = "post";
                        frm.action = "/member/withdraw";
                        frm.submit();
                        return;
                    }
                    else{return;}
                }
                else{
                    alert("잘못된 비밀번호 입니다.");
                    return;
                }
            }
        })




    }

</script>
</html>