<!DOCTYPE HTML>
<!--
   Helios by Pixelarity
   pixelarity.com | hello@pixelarity.com
   License: pixelarity.com/license
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>결제하기</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Codrops" />
<!--    <link rel="shortcut icon" href="../favicon.icon">-->
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/component.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/couponList.css" />
    <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>

    <!-- logo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap"
          rel="stylesheet">
    <!-- underLogo 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap"
          rel="stylesheet">
    <!-- 기본 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
          rel="stylesheet">
</head>
<style>
    /* body 기본 폰트 전체 적용 */

    body {
        font-family: 'Gowun Dodum', sans-serif;
    }

    #logo {
        font-family: 'East Sea Dokdo', cursive;
        font-size: 100px;
    }

    #underLogo {
        font-family: 'Yeon Sung', cursive;
        font-size: 100px;
    }
    .cardinfo{
        margin-bottom:2%;
    }
    .primary{
        width:190px;
        margin-top:3%
    }
</style>
<body class="homepage is-preload" style="background-color:white; margin: 10%;">

<p>결제 정보를 입력해 주세요</p>
<form name="payment" style="width: 50em; margin: auto;">
    <fieldset style="border-radius: 10px;background-color: antiquewhite; padding:27px;">
        <p style="text-align:left; border-bottom:solid 0.5px;">카드/쿠폰 정보</p>

        카드 번호<br>
        <input type="text" name="card_num" class="cardinfo">

        유효 기간 (YY/ MM)<br>
        <input type="text" name="expire_date" placeholder="(YY / MM)" class="cardinfo">

        CVC<br>
        <input type="text" name="cvc_num" class="cardinfo">

        비밀번호 앞 2자리<br>
        <input type="password" name="password_num" class="cardinfo">

        쿠폰번호<br>
        <input type="text" name="coupon_num" placeholder="정확히 입력해주세요" class="cardinfo">

        <input type="button"  value="결제하기" class="primary" onclick="formSubmit()" style="margin-left: 22.5%; margin-right: 5px;"/>
        <input type="button"  value="결제취소" class="primary" onclick="history.back()" style="margin-left: 5px; margin-right: 22.5%;"/>

    </fieldset>
</form>



<!-- Scripts -->
<script	src="/js/jquery.min.js"></script>
<script	src="/js/jquery.dropotron.min.js"></script>
<script	src="/js/jquery.scrolly.min.js"></script>
<script	src="/js/jquery.scrollex.min.js"></script>
<script	src="/js/browser.min.js"></script>
<script	src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>

</body>
</html>